body {
  font-family: sans-serif;
  font-size: 12pt; 
}

.closedTabs {
    display: flex;
}

.closedTabs .tabs {
    width: 50%;
}

.closedTabs .tabs .tab {
    background-color: #e0e0e0;
    margin-bottom: 2px;
}

.openTabs {    
    display: flex;
}

.openTabs .tab {
    width: 50%;
}

.tab-header {
    display: flex;
    background-color: #c0c0c0;
    padding: 4px;
}

.tab-header .tab-name {
    flex-grow: 1;
}

.suggestions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.suggestions .suggestion {
    display: flex;
    flex-direction: row;
    background-color: #d0d0d0;
    padding: 2px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.suggestions .suggestion .form {
    margin-left: 4px;
    font-size: 80%;
    align-self: center;
}

.suggestions .suggestion .count {
    margin-left: 4px;
    font-size: 80%;
    align-self: center;
}

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter .option {
    background-color: #d0d0d0;
    padding: 2px;
    margin-bottom: 4px;
    margin-right: 4px;
}

.sentenceEditor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    margin: 8px 0 8px 0;
}

.sentenceEditor .word {
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
    padding: 2px;
}

.sentenceEditor .word .form {
    margin-left: 4px;
    font-size: 80%;
    align-self: center;
}

.sentenceEditor .space {
    width: 8px;
    background-color: blue;
}

.sentenceEditor .selected {
    border: 2px solid blue;
}

.sentenceEditor .sentenceEnd {
    flex-grow: 1;
}