html {
  margin: 0;
  padding: 0; }

body {
  background-color: #ececec;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12pt;
  color: #303030;
  position: fixed; }

.button, .tab-header .tab-close, .pending .unacceptable {
  border-radius: 4px;
  margin: 8px;
  text-align: center;
  padding: 4px 8px;
  background-color: #766db0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #f8f7f5; }

.button:hover, .tab-header .tab-close:hover, .pending .unacceptable:hover {
  background-color: #e95f3d; }

input[type=text], input[type=number] {
  font-family: inherit;
  font-size: 120%;
  background-color: white;
  border: 2px solid #e9e0d3; }

.border-box-sizing, .sentenceTranslation input, .study ul.unknown li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.smallFont, .index, .inflections table td .add, .externalSentence .en, .history li .event, .history li .main .date {
  font-size: 60%;
  font-weight: 900; }

.tabSet {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 8px; }
  .tabSet .closedTabs {
    display: flex;
    flex-shrink: 0; }
    .tabSet .closedTabs .tabs:first-child {
      padding-right: 4px; }
    .tabSet .closedTabs .tabs:nth-child(2) {
      padding-left: 4px; }
    .tabSet .closedTabs .tabs {
      width: 50%; }
      .tabSet .closedTabs .tabs .tab {
        background-color: #b4afd4;
        margin-bottom: 2px;
        color: #f8f9f3; }
        .tabSet .closedTabs .tabs .tab .tab-close {
          background-color: #958ec2; }
        .tabSet .closedTabs .tabs .tab .tab-close:hover {
          background-color: #d8c8b1; }
  .tabSet .openTabs {
    display: flex;
    flex-grow: 1; }
    .tabSet .openTabs .tab:first-child {
      padding-right: 4px; }
    .tabSet .openTabs .tab:nth-child(2) {
      padding-left: 4px; }
    .tabSet .openTabs .tab {
      width: 50%;
      display: flex;
      flex-direction: column; }
      .tabSet .openTabs .tab .tab-header {
        color: #f8f9f3;
        background-color: #766db0;
        flex-shrink: 0; }
        .tabSet .openTabs .tab .tab-header .index, .tabSet .openTabs .tab .tab-header .inflections table td .add, .inflections table td .tabSet .openTabs .tab .tab-header .add {
          background-color: #5c5298; }
        .tabSet .openTabs .tab .tab-header .tab-close {
          background-color: #5c5298; }
        .tabSet .openTabs .tab .tab-header .tab-close:hover {
          background-color: #484077; }
      .tabSet .openTabs .tab .content {
        background-color: #f5f5f5;
        flex-grow: 1;
        overflow-y: scroll;
        padding: 8px; }

.tab-header {
  display: flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .tab-header .tab-close {
    border: none;
    border-radius: 0;
    border-top-right-radius: 4px;
    margin: 0; }
  .tab-header .tab-name {
    padding: 8px;
    flex-grow: 1; }

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .filter .option {
    background-color: #766db0;
    color: #f8f9f3;
    padding: 2px;
    margin-bottom: 4px;
    margin-right: 4px; }
  .filter .option:hover {
    background-color: #5c5298; }
  .filter .option.active {
    font-weight: bold;
    background-color: #e95f3d; }

.sentenceEditor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px 0 8px 0; }
  .sentenceEditor .word {
    display: flex;
    flex-direction: row;
    background-color: #ffdb5d;
    padding: 8px;
    margin-right: 4px;
    margin-bottom: 8px;
    font-size: 1.5rem; }
  .sentenceEditor .word.unparsed {
    background-color: #ff5f3b; }
  .sentenceEditor .word.selected {
    background-color: #766db0;
    color: #f8f9f3; }
    .sentenceEditor .word.selected .form {
      color: #e4e8d1; }
  .sentenceEditor .word.drag-target {
    border-left: 4px solid #303030; }
  .sentenceEditor .word .form {
    margin-left: 4px;
    font-size: 80%;
    align-self: center;
    color: #636363; }
  .sentenceEditor .space {
    width: 16px;
    margin-bottom: 8px;
    background-color: #766db0;
    color: #f8f9f3; }
  .sentenceEditor .sentenceEnd {
    flex-grow: 1; }

.sentenceTranslation input {
  width: 100%;
  padding: 4px; }

.sortedFacts .form {
  font-style: italic;
  margin-left: 4px; }

.wordSearch .filter {
  padding: 4px;
  border-bottom: 1px solid #766db0;
  background-color: #faf8f5;
  display: flex; }
  .wordSearch .filter input[type=text] {
    width: calc(100% - 4px);
    margin: 4px; }
  .wordSearch .filter .option {
    margin: 0;
    margin-right: 8px;
    padding: 4px; }

.wordSearch .suggestions {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .wordSearch .suggestions .suggestion {
    display: flex;
    flex-direction: row;
    background-color: #ffdb5d;
    padding: 8px;
    margin-right: 4px;
    margin-bottom: 8px; }
    .wordSearch .suggestions .suggestion .index, .wordSearch .suggestions .suggestion .inflections table td .add, .inflections table td .wordSearch .suggestions .suggestion .add {
      color: #2CAAA9;
      background-color: #f8f9f3;
      top: auto; }
    .wordSearch .suggestions .suggestion .form {
      margin-left: 4px;
      font-size: 80%;
      align-self: center; }
    .wordSearch .suggestions .suggestion .count {
      margin-left: 4px;
      font-size: 80%;
      align-self: center; }

.buttonBar {
  display: flex;
  flex-wrap: wrap; }
  .buttonBar > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 8px; }
  .buttonBar .selected {
    font-weight: bold;
    background-color: #e95f3d; }
  .buttonBar input {
    width: 60px;
    text-align: right; }
  .buttonBar select {
    font-size: inherit;
    font-family: inherit; }

.buttonBar.right {
  float: right; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none;
    padding-bottom: 4px;
    margin: 0; }
  ul li.drag-target {
    border-top: 4px solid #303030; }

.index, .inflections table td .add {
  display: inline-block;
  background-color: #2CAAA9;
  color: #f8f9f3;
  border-radius: 16px;
  margin-right: 4px;
  text-align: center;
  position: relative;
  top: -0.20em;
  width: 2.6em;
  height: 2em; }
  .index .number, .inflections table td .add .number {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }

.index.missing, .inflections table td .missing.add {
  background-color: #ff5f3b; }

.formName {
  padding-top: 8px; }
  .formName .label {
    font-style: italic; }
  .formName .name {
    font-weight: bold; }

.inflections {
  padding-top: 8px; }
  .inflections .inflectionName {
    font-style: italic; }
    .inflections .inflectionName .name {
      font-weight: bold;
      font-style: normal; }
    .inflections .inflectionName .button, .inflections .inflectionName .tab-header .tab-close, .tab-header .inflections .inflectionName .tab-close, .inflections .inflectionName .pending .unacceptable, .pending .inflections .inflectionName .unacceptable {
      font-weight: normal;
      display: inline-block; }
  .inflections .inherits {
    font-style: italic; }
    .inflections .inherits .clickable {
      font-weight: bold; }
  .inflections table {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    border-spacing: 4px;
    display: inline-block; }
    .inflections table td {
      padding: 4px; }
      .inflections table td .form {
        margin: 4px 0; }
      .inflections table td .add {
        float: right;
        margin: 0 16px;
        margin-top: 2px;
        background-color: inherit; }
        .inflections table td .add .number {
          font-weight: bold; }
      .inflections table td .add:hover {
        background-color: #ffd02a;
        color: #303030; }
      .inflections table td .index, .inflections table td .add {
        margin: 0 16px;
        margin-top: 2px;
        float: right; }
    .inflections table tbody td.full {
      background-color: #ffdb5d; }
    .inflections table tbody td:first-child {
      font-style: italic;
      background-color: inherit; }
    .inflections table thead {
      background-color: #faf8f5; }

.wordsWithInflection .button, .wordsWithInflection .tab-header .tab-close, .tab-header .wordsWithInflection .tab-close, .wordsWithInflection .pending .unacceptable, .pending .wordsWithInflection .unacceptable {
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: 60%; }

.clickable:hover {
  color: black;
  text-decoration: underline; }

.facts {
  padding-left: 8px; }
  .facts .index, .facts .inflections table td .add, .inflections table td .facts .add {
    cursor: pointer;
    margin-right: 12px; }
  .facts .count {
    margin-left: 4px; }
  .facts .form {
    margin-left: 4px;
    font-style: italic; }
  .facts .hard {
    color: #a0a0a0;
    font-style: italic; }
  .facts .button, .facts .tab-header .tab-close, .tab-header .facts .tab-close, .facts .pending .unacceptable, .pending .facts .unacceptable {
    display: inline-block;
    position: relative;
    top: -1px;
    font-size: 60%;
    margin: 4px; }
  .facts .insufficient {
    font-size: 60%;
    background-color: #faf8f5;
    padding: 2px 3px;
    border-radius: 2px;
    position: relative;
    top: -2px;
    margin-left: 1px; }

.sentencesWithFact .index, .sentencesWithFact .inflections table td .add, .inflections table td .sentencesWithFact .add {
  top: -0.35em;
  margin-right: 8px; }
  .sentencesWithFact .index .number, .sentencesWithFact .inflections table td .add .number, .inflections table td .sentencesWithFact .add .number {
    position: relative;
    top: 1px; }

.sentencesWithFact li {
  margin: 4px 0; }

.externalSentence {
  margin: 8px 0;
  display: flex;
  align-items: flex-start; }
  .externalSentence .index, .externalSentence .inflections table td .add, .inflections table td .externalSentence .add {
    margin-top: 2px;
    margin-right: 8px; }
  .externalSentence .button, .externalSentence .tab-header .tab-close, .tab-header .externalSentence .tab-close, .externalSentence .pending .unacceptable, .pending .externalSentence .unacceptable {
    display: inline-block;
    margin: 0;
    margin-right: 4px; }
  .externalSentence .main .sentence {
    display: block; }
    .externalSentence .main .sentence span {
      display: inline-block;
      margin-right: 4px; }
    .externalSentence .main .sentence .match {
      color: #3b938a;
      font-weight: bold; }
    .externalSentence .main .sentence .ambiguous:after {
      color: #94d3cd;
      font-weight: bold;
      content: ' (?)'; }
    .externalSentence .main .sentence .missing {
      font-style: italic;
      border-bottom: dotted 2px #ff5f3b; }
  .externalSentence .en {
    margin-top: 4px;
    margin-bottom: 4px; }

.paging {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px; }
  .paging li {
    margin-right: 16px;
    color: #766db0;
    border: 1px solid #766db0;
    border-radius: 4px;
    padding: 4px;
    padding-bottom: 3px;
    margin: 8px; }
  .paging li:hover, .paging .current {
    background-color: #e95f3d;
    border-color: #e95f3d;
    color: #f8f7f5; }

.formFilter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px; }
  .formFilter li:hover {
    cursor: pointer; }
  .formFilter li {
    margin-right: 16px;
    color: #766db0;
    border: 1px solid #766db0;
    border-radius: 4px;
    padding: 4px;
    padding-bottom: 3px;
    margin: 8px; }
  .formFilter .active {
    background-color: #e95f3d;
    border-color: #e95f3d;
    color: #f8f7f5; }

.tagFilter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 16px; }
  .tagFilter .tag {
    cursor: pointer;
    display: flex;
    margin: 4px 8px; }
  .tagFilter .tag:hover {
    color: black; }
  .tagFilter .selected {
    font-weight: bold; }

ul.stats {
  margin: 16px 0; }

.addWord {
  display: flex;
  padding: 8px;
  margin: 8px;
  background-color: #faf8f5;
  align-items: stretch; }
  .addWord input {
    flex-grow: 1; }
  .addWord select {
    background-color: white;
    margin-left: 8px;
    -webkit-appearance: menulist-button; }
  .addWord .button, .addWord .tab-header .tab-close, .tab-header .addWord .tab-close, .addWord .pending .unacceptable, .pending .addWord .unacceptable {
    margin: 0;
    margin-left: 8px; }

.comment textarea {
  width: 100%;
  font-size: inherit;
  font-family: inherit; }

.comment input[type=submit] {
  border: none;
  font-size: inherit; }

.history li {
  margin: 16px 0; }
  .history li .event {
    text-transform: uppercase;
    background-color: #4bb6ac;
    color: #f8f9f3;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    margin-right: 8px;
    min-width: 6em;
    text-align: center; }
  .history li .main {
    display: flex;
    align-items: flex-start; }
    .history li .main .date {
      margin-bottom: 5px; }
    .history li .main .text {
      border-left: 2px solid #303030;
      padding: 2px 0;
      padding-left: 6px;
      margin-left: 4px; }
      .history li .main .text .form {
        color: #808080;
        font-size: 80%; }
      .history li .main .text p {
        font-weight: bold;
        margin: 0;
        margin-bottom: 4px; }
      .history li .main .text p:last-of-type {
        margin-bottom: 0; }

.status {
  margin: 4px 0; }
  .status .current {
    display: inline-block;
    font-style: italic; }
  .status .button, .status .tab-header .tab-close, .tab-header .status .tab-close, .status .pending .unacceptable, .pending .status .unacceptable {
    display: inline-block; }

.pending li {
  display: flex;
  align-items: center; }

.pending .unacceptable {
  background-color: #f0af33; }

h3 {
  font-size: inherit;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-right: -8px;
  margin-left: -8px;
  color: #f8f7f5;
  padding: 8px;
  color: #303030;
  background-color: #ffdb5d; }

.study .sentenceId {
  margin: 8px;
  text-align: right;
  font-size: 80%; }

.study .buttonBar {
  justify-content: center; }

.study .sentence {
  margin: 1em;
  font-size: 5em;
  display: flex;
  flex-wrap: wrap; }
  .study .sentence .group {
    display: flex;
    margin-right: 0.4em; }
    .study .sentence .group .word {
      cursor: pointer; }
    .study .sentence .group .word:hover {
      color: #766db0; }
    .study .sentence .group .word.nominalized {
      color: #d03a3e;
      background-color: #ffd02a;
      padding: 0 0.15em;
      border-radius: 0.1em;
      margin-right: 0.2em;
      display: flex;
      align-items: center; }
      .study .sentence .group .word.nominalized .form {
        color: #f8f7f5;
        margin-left: 0.4em;
        font-size: 40%;
        display: block; }
    .study .sentence .group .word.revealed {
      font-weight: bold; }

.study ul.unknown {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }
  .study ul.unknown li {
    padding: 8px;
    width: 25%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .study ul.unknown li .content {
      background-color: #31c8c7;
      flex-grow: 1;
      padding: 8px;
      text-align: center; }
      .study ul.unknown li .content strong {
        white-space: nowrap; }
    .study ul.unknown li .iKnew {
      text-align: right;
      background-color: #2CAAA9;
      color: #f8f7f5;
      padding: 4px 8px;
      font-size: 80%;
      font-weight: bold;
      cursor: pointer; }
    .study ul.unknown li .iKnew:hover {
      background-color: #279695; }

.study .debugButtonBar {
  position: fixed;
  bottom: 0;
  right: 0; }

.study .knowledgeInspector .decks {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap; }
  .study .knowledgeInspector .decks .deck {
    flex-grow: 1; }
    .study .knowledgeInspector .decks .deck li.current {
      font-weight: bold; }
