html {
  margin: 0;
  padding: 0; }

body {
  background-color: #ececec;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12pt;
  color: #303030; }

.button, .tab-header .tab-close, .pending .unacceptable {
  border-radius: 4px;
  margin: 8px;
  text-align: center;
  padding: 4px 8px;
  background-color: #766db0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #f8f7f5; }

.button:hover, .tab-header .tab-close:hover, .pending .unacceptable:hover {
  background-color: #e95f3d; }

input[type=text], input[type=number] {
  font-family: inherit;
  font-size: 120%;
  background-color: white;
  border: 2px solid #e9e0d3; }

.border-box-sizing, .tabSet .column .closeAll, .wordTranslation input, .sentenceTab .sentenceTranslation input, .untranslated input, .searchSentences input[type=text], .phrase .pattern .field input, .study ul.unknown > li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.smallFont, .index, .inflections table td .add, .phrase .pattern .field .label, .sentenceWithButton .en, .addPhrase .description, .history li .event, .history li .main .date, .study .factSelectorInspector ul li .details {
  font-size: 60%;
  font-weight: 900; }

.tabSet {
  height: 100vh;
  display: flex; }
  .tabSet .column:first-child {
    padding-right: 4px; }
  .tabSet .column:nth-child(2) {
    padding-left: 4px; }
  .tabSet .column {
    width: 50%;
    padding: 4px; }
    .tabSet .column .closedTabs .tab {
      height: 2em;
      background-color: #b4afd4;
      margin-bottom: 2px;
      color: #f8f9f3; }
      .tabSet .column .closedTabs .tab .tab-close {
        background-color: #958ec2; }
      .tabSet .column .closedTabs .tab .tab-close:hover {
        background-color: #d8c8b1; }
    .tabSet .column .closeAll {
      height: 2em;
      color: #f8f9f3;
      margin: 4px;
      padding: 8px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #958ec2; }
    .tabSet .column .closeAll:hover {
      background-color: #d8c8b1; }
    .tabSet .column .openTabs .tab {
      display: flex;
      flex-direction: column; }
      .tabSet .column .openTabs .tab .tab-header {
        color: #f8f9f3;
        background-color: #766db0;
        flex-shrink: 0; }
        .tabSet .column .openTabs .tab .tab-header .index, .tabSet .column .openTabs .tab .tab-header .inflections table td .add, .inflections table td .tabSet .column .openTabs .tab .tab-header .add {
          background-color: #5c5298; }
        .tabSet .column .openTabs .tab .tab-header .tab-close {
          background-color: #5c5298; }
        .tabSet .column .openTabs .tab .tab-header .tab-close:hover {
          background-color: #484077; }
      .tabSet .column .openTabs .tab .content {
        background-color: #f5f5f5;
        flex-grow: 1;
        overflow-y: scroll;
        padding: 8px; }

.tab-header {
  display: flex;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }
  .tab-header .tab-close {
    border: none;
    border-radius: 0;
    border-top-right-radius: 4px;
    margin: 0; }
  .tab-header .tab-name {
    padding: 8px;
    flex-grow: 1; }

.filter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .filter .option {
    background-color: #766db0;
    color: #f8f9f3;
    padding: 2px;
    margin-bottom: 4px;
    margin-right: 4px; }
  .filter .option:hover {
    background-color: #5c5298; }
  .filter .option.active {
    font-weight: bold;
    background-color: #e95f3d; }

.wordClassifier ul {
  margin-top: 12px; }

.wordTranslation input {
  width: 100%; }

.sentenceTab .sentenceEditor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 8px 0 8px 0; }
  .sentenceTab .sentenceEditor .word {
    display: flex;
    flex-direction: row;
    background-color: #ffdb5d;
    padding: 8px;
    margin-right: 4px;
    margin-bottom: 8px;
    font-size: 1.5rem; }
  .sentenceTab .sentenceEditor .word.unparsed {
    background-color: #ff5f3b; }
  .sentenceTab .sentenceEditor .word.selected {
    background-color: #766db0;
    color: #f8f9f3; }
    .sentenceTab .sentenceEditor .word.selected .form {
      color: #e4e8d1; }
  .sentenceTab .sentenceEditor .word.drag-target {
    border-left: 4px solid #303030; }
  .sentenceTab .sentenceEditor .word .form {
    margin-left: 4px;
    font-size: 80%;
    align-self: center;
    color: #636363; }
  .sentenceTab .sentenceEditor .space {
    width: 16px;
    margin-bottom: 8px;
    background-color: #766db0;
    color: #f8f9f3; }
  .sentenceTab .sentenceEditor .sentenceEnd {
    flex-grow: 1; }

.sentenceTab .openClose {
  fill: #766db0; }
  .sentenceTab .openClose:hover {
    color: #e95f3d;
    fill: #e95f3d; }
  .sentenceTab .openClose svg {
    height: 0.6em;
    width: 0.6em;
    margin-right: 4px;
    position: relative;
    top: -1px; }

.sentenceTab .sentenceTranslation input {
  width: 100%;
  padding: 4px; }

.sentenceTab .sortedFacts .form {
  font-style: italic;
  margin-left: 4px; }

.sentenceTab .sentenceFacts {
  display: flex;
  flex-direction: line; }
  .sentenceTab .sentenceFacts .current, .sentenceTab .sentenceFacts .matching {
    width: 50%; }
    .sentenceTab .sentenceFacts .current .button, .sentenceTab .sentenceFacts .current .tab-header .tab-close, .tab-header .sentenceTab .sentenceFacts .current .tab-close, .sentenceTab .sentenceFacts .current .pending .unacceptable, .pending .sentenceTab .sentenceFacts .current .unacceptable, .sentenceTab .sentenceFacts .matching .button, .sentenceTab .sentenceFacts .matching .tab-header .tab-close, .tab-header .sentenceTab .sentenceFacts .matching .tab-close, .sentenceTab .sentenceFacts .matching .pending .unacceptable, .pending .sentenceTab .sentenceFacts .matching .unacceptable {
      display: inline-block;
      margin: 0;
      margin-right: 4px; }
    .sentenceTab .sentenceFacts .current li, .sentenceTab .sentenceFacts .matching li {
      display: flex;
      align-items: flex-start; }
      .sentenceTab .sentenceFacts .current li .match, .sentenceTab .sentenceFacts .matching li .match {
        color: #3b938a;
        font-weight: bold;
        text-decoration: inherit; }
      .sentenceTab .sentenceFacts .current li .error, .sentenceTab .sentenceFacts .matching li .error {
        color: #ff5f3b; }
      .sentenceTab .sentenceFacts .current li .phrase, .sentenceTab .sentenceFacts .matching li .phrase {
        font-size: 80%; }

.untranslated input {
  width: 100%;
  padding: 4px; }

.wordSearch .filter {
  padding: 4px;
  border-bottom: 1px solid #766db0;
  background-color: #faf8f5;
  display: flex; }
  .wordSearch .filter input[type=text] {
    width: calc(100% - 4px);
    margin: 4px; }
  .wordSearch .filter .option {
    margin: 0;
    margin-right: 8px;
    padding: 4px; }

.wordSearch .suggestions {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .wordSearch .suggestions .alternatives {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; }
    .wordSearch .suggestions .alternatives ul {
      display: flex;
      flex-direction: row;
      margin-top: 4px;
      margin-left: 8px; }
      .wordSearch .suggestions .alternatives ul li {
        background-color: #ffdb5d;
        font-style: italic;
        padding: 4px;
        margin-bottom: 4px;
        margin-right: 4px;
        border-radius: 4px; }
  .wordSearch .suggestions .suggestion {
    display: flex;
    flex-direction: row;
    background-color: #ffdb5d;
    padding: 8px;
    margin-right: 4px;
    margin-bottom: 8px; }
    .wordSearch .suggestions .suggestion .index, .wordSearch .suggestions .suggestion .inflections table td .add, .inflections table td .wordSearch .suggestions .suggestion .add {
      color: #2CAAA9;
      background-color: #f8f9f3;
      top: auto; }
    .wordSearch .suggestions .suggestion .error {
      color: #ff5f3b; }
    .wordSearch .suggestions .suggestion .form {
      margin-left: 4px;
      font-size: 80%;
      align-self: center; }
    .wordSearch .suggestions .suggestion .count {
      margin-left: 4px;
      font-size: 80%;
      align-self: center; }

.buttonBar {
  display: flex;
  flex-wrap: wrap; }
  .buttonBar > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 8px; }
  .buttonBar .selected {
    font-weight: bold;
    background-color: #e95f3d; }
  .buttonBar input[type=number] {
    width: 60px;
    text-align: right; }
  .buttonBar select {
    font-size: inherit;
    font-family: inherit; }

.buttonBar.right {
  float: right; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style-type: none;
    padding-bottom: 4px;
    margin: 0; }
  ul li.drag-target {
    border-top: 4px solid #303030; }

.index, .inflections table td .add {
  display: inline-block;
  background-color: #2CAAA9;
  color: #f8f9f3;
  border-radius: 16px;
  margin-right: 4px;
  text-align: center;
  position: relative;
  top: -0.20em;
  width: 2.6em;
  height: 2em; }
  .index .number, .inflections table td .add .number {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }

.index.missing, .inflections table td .missing.add {
  background-color: #ff5f3b; }

.formName {
  padding-top: 8px; }
  .formName .label {
    font-style: italic; }
  .formName .name {
    font-weight: bold; }

.inflections {
  padding-top: 8px; }
  .inflections .inflectionName {
    font-style: italic; }
    .inflections .inflectionName .name {
      font-weight: bold;
      font-style: normal; }
    .inflections .inflectionName .button, .inflections .inflectionName .tab-header .tab-close, .tab-header .inflections .inflectionName .tab-close, .inflections .inflectionName .pending .unacceptable, .pending .inflections .inflectionName .unacceptable {
      font-weight: normal;
      display: inline-block; }
  .inflections .inherits {
    font-style: italic; }
    .inflections .inherits .clickable, .inflections .inherits .wordSearch .suggestions .alternatives ul li, .wordSearch .suggestions .alternatives ul .inflections .inherits li {
      font-weight: bold; }
  .inflections table {
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;
    border-spacing: 4px;
    display: inline-block; }
    .inflections table td {
      padding: 4px; }
      .inflections table td .form {
        margin: 4px 0; }
      .inflections table td .add {
        float: right;
        margin: 0 16px;
        margin-top: 2px;
        background-color: inherit; }
        .inflections table td .add .number {
          font-weight: bold; }
      .inflections table td .add:hover {
        background-color: #ffd02a;
        color: #303030; }
      .inflections table td .index, .inflections table td .add {
        margin: 0 16px;
        margin-top: 2px;
        float: right; }
    .inflections table tbody td.full {
      background-color: #ffdb5d; }
    .inflections table tbody td:first-child {
      font-style: italic;
      background-color: inherit; }
    .inflections table thead {
      background-color: #faf8f5; }

.wordsWithInflection .button, .wordsWithInflection .tab-header .tab-close, .tab-header .wordsWithInflection .tab-close, .wordsWithInflection .pending .unacceptable, .pending .wordsWithInflection .unacceptable {
  display: inline-block;
  position: relative;
  top: -1px;
  font-size: 60%; }

.clickable:hover, .wordSearch .suggestions .alternatives ul li:hover {
  color: black;
  text-decoration: underline; }

.facts {
  padding-left: 8px; }
  .facts .index, .facts .inflections table td .add, .inflections table td .facts .add {
    cursor: pointer;
    margin-right: 12px; }
  .facts .count {
    margin-left: 4px; }
  .facts .form {
    margin-left: 4px;
    font-style: italic; }
  .facts .hard {
    color: #a0a0a0;
    font-style: italic; }
  .facts .button, .facts .tab-header .tab-close, .tab-header .facts .tab-close, .facts .pending .unacceptable, .pending .facts .unacceptable {
    display: inline-block;
    position: relative;
    top: -1px;
    font-size: 60%;
    margin: 4px; }
  .facts .insufficient {
    font-size: 60%;
    background-color: #faf8f5;
    padding: 2px 3px;
    border-radius: 2px;
    position: relative;
    top: -2px;
    margin-left: 1px; }

.sentencesWithFact .index, .sentencesWithFact .inflections table td .add, .inflections table td .sentencesWithFact .add {
  top: -0.35em;
  margin-right: 8px; }
  .sentencesWithFact .index .number, .sentencesWithFact .inflections table td .add .number, .inflections table td .sentencesWithFact .add .number {
    position: relative;
    top: 1px; }

.sentencesWithFact .match {
  color: #3b938a;
  font-weight: bold;
  text-decoration: inherit; }

.sentencesWithFact li {
  margin: 4px 0; }

.searchSentences input[type=text] {
  width: 100%; }

.searchSentences input[type=checkbox] {
  margin-right: 8px; }

.searchSentences .filter {
  padding: 8px;
  display: flex; }

.searchSentences .error {
  color: #d03a3e;
  font-weight: bold; }

.phraseStudyWords .match, .phraseStudyWords .case {
  color: #3b938a;
  font-weight: bold;
  text-decoration: inherit; }

.phraseStudyWords .case {
  font-style: italic; }

.phraseStudyWords .error {
  color: #d03a3e;
  font-weight: bold; }

.phrase .error {
  color: #d03a3e;
  font-weight: bold; }

.phrase .pattern .field {
  padding: 8px 0; }
  .phrase .pattern .field .label {
    margin-bottom: 4px; }
  .phrase .pattern .field input {
    width: 100%; }

.matchingSentences .conflict {
  color: #ff5f3b;
  font-weight: bold; }

.sentenceWithButton {
  margin: 8px 0;
  display: flex;
  align-items: flex-start; }
  .sentenceWithButton .index, .sentenceWithButton .inflections table td .add, .inflections table td .sentenceWithButton .add {
    margin-top: 2px;
    margin-right: 8px; }
  .sentenceWithButton .button, .sentenceWithButton .tab-header .tab-close, .tab-header .sentenceWithButton .tab-close, .sentenceWithButton .pending .unacceptable, .pending .sentenceWithButton .unacceptable {
    display: inline-block;
    margin: 0;
    margin-right: 4px; }
  .sentenceWithButton .main .sentence {
    display: block; }
    .sentenceWithButton .main .sentence .match {
      color: #3b938a;
      font-weight: bold;
      text-decoration: inherit; }
    .sentenceWithButton .main .sentence .ambiguous:after {
      color: #94d3cd;
      font-weight: bold;
      content: ' (?)'; }
    .sentenceWithButton .main .sentence .missing {
      font-style: italic;
      border-bottom: dotted 2px #ff5f3b; }
  .sentenceWithButton .main .external.sentence span {
    padding-right: 4px; }
  .sentenceWithButton .en {
    margin-top: 4px;
    margin-bottom: 4px; }

.paging {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px; }
  .paging li {
    margin-right: 16px;
    color: #766db0;
    border: 1px solid #766db0;
    border-radius: 4px;
    padding: 4px;
    padding-bottom: 3px;
    margin: 8px; }
  .paging li:hover, .paging .current {
    background-color: #e95f3d;
    border-color: #e95f3d;
    color: #f8f7f5; }

.formFilter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px; }
  .formFilter li:hover {
    cursor: pointer; }
  .formFilter li {
    margin-right: 16px;
    color: #766db0;
    border: 1px solid #766db0;
    border-radius: 4px;
    padding: 4px;
    padding-bottom: 3px;
    margin: 8px; }
  .formFilter .active {
    background-color: #e95f3d;
    border-color: #e95f3d;
    color: #f8f7f5; }

.tagFilter {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  margin-bottom: 16px; }
  .tagFilter .tag {
    cursor: pointer;
    display: flex;
    margin: 4px 8px; }
  .tagFilter .tag:hover {
    color: black; }
  .tagFilter .selected {
    font-weight: bold; }

ul.stats {
  margin: 16px 0; }

.addWord, .addPhrase {
  display: flex;
  padding: 8px;
  margin: 8px;
  background-color: #faf8f5;
  align-items: stretch; }
  .addWord input, .addPhrase input {
    flex-grow: 1; }
  .addWord select, .addPhrase select {
    background-color: white;
    margin-left: 8px;
    -webkit-appearance: menulist-button; }
  .addWord .button, .addPhrase .button, .addWord .tab-header .tab-close, .tab-header .addWord .tab-close, .addPhrase .tab-header .tab-close, .tab-header .addPhrase .tab-close, .addWord .pending .unacceptable, .pending .addWord .unacceptable, .addPhrase .pending .unacceptable, .pending .addPhrase .unacceptable {
    margin: 0;
    margin-left: 8px; }

.addPhrase {
  flex-wrap: wrap; }
  .addPhrase .label {
    margin-top: 6px;
    margin-right: 8px; }
  .addPhrase .description {
    margin-top: 8px;
    width: 100%; }

.comment textarea {
  width: 100%;
  font-size: inherit;
  font-family: inherit; }

.comment input[type=submit] {
  border: none;
  font-size: inherit; }

.history li {
  margin: 16px 0; }
  .history li .event {
    text-transform: uppercase;
    background-color: #4bb6ac;
    color: #f8f9f3;
    padding: 4px;
    border-radius: 4px;
    position: relative;
    margin-right: 8px;
    min-width: 6em;
    text-align: center; }
  .history li .main {
    display: flex;
    align-items: flex-start; }
    .history li .main .date {
      margin-bottom: 5px; }
    .history li .main .text {
      border-left: 2px solid #303030;
      padding: 2px 0;
      padding-left: 6px;
      margin-left: 4px; }
      .history li .main .text .form {
        color: #808080;
        font-size: 80%; }
      .history li .main .text p {
        font-weight: bold;
        margin: 0;
        margin-bottom: 4px; }
      .history li .main .text p:last-of-type {
        margin-bottom: 0; }

.status {
  margin: 4px 0;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .status .current {
    font-style: italic; }

.pending li {
  display: flex;
  align-items: center; }

.pending .unacceptable {
  background-color: #f0af33; }

h3 {
  font-size: inherit;
  margin-top: 16px;
  margin-bottom: 8px;
  margin-right: -8px;
  margin-left: -8px;
  color: #f8f7f5;
  padding: 8px;
  color: #303030;
  background-color: #ffdb5d; }

.study .sentenceId {
  margin: 8px;
  text-align: right;
  font-size: 80%; }

.study .buttonBar {
  justify-content: center; }

.study .explanation {
  margin: 36pt;
  margin-bottom: 12pt;
  font-size: 1em;
  font-weight: bold; }

.study .sentence {
  margin: 36pt;
  margin-top: 0;
  font-size: 4em;
  display: flex;
  flex-wrap: wrap; }
  .study .sentence .group {
    display: flex;
    margin-right: 0.4em; }
    .study .sentence .group .word {
      cursor: pointer; }
    .study .sentence .group .word:hover {
      color: #766db0; }
    .study .sentence .group .word.nominalized {
      color: #d03a3e;
      background-color: #ffd02a;
      padding: 0 0.15em;
      border-radius: 0.1em;
      margin-right: 0.2em;
      display: flex;
      align-items: center; }
      .study .sentence .group .word.nominalized .form {
        color: #f8f7f5;
        margin-left: 0.4em;
        font-size: 40%;
        display: block; }
    .study .sentence .group .word.revealed {
      font-weight: bold; }

.study ul.unknown {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; }
  .study ul.unknown > li {
    padding: 8px;
    width: 25%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: stretch; }
    .study ul.unknown > li .content {
      background-color: #31c8c7;
      flex-grow: 1;
      padding: 8px;
      text-align: center; }
      .study ul.unknown > li .content strong {
        white-space: nowrap; }
    .study ul.unknown > li > .buttonBar .button, .study ul.unknown > li > .buttonBar .tab-header .tab-close, .tab-header .study ul.unknown > li > .buttonBar .tab-close, .study ul.unknown > li > .buttonBar .pending .unacceptable, .pending .study ul.unknown > li > .buttonBar .unacceptable {
      border-radius: 0;
      margin: 0;
      flex-grow: 1;
      display: block;
      text-align: left;
      background-color: #2CAAA9;
      color: #f8f7f5;
      padding: 4px 8px;
      font-size: 80%;
      font-weight: bold;
      cursor: pointer; }
    .study ul.unknown > li > .buttonBar .button.iKnew, .study ul.unknown > li > .buttonBar .tab-header .iKnew.tab-close, .tab-header .study ul.unknown > li > .buttonBar .iKnew.tab-close, .study ul.unknown > li > .buttonBar .pending .iKnew.unacceptable, .pending .study ul.unknown > li > .buttonBar .iKnew.unacceptable {
      text-align: right; }
    .study ul.unknown > li > .buttonBar .button:hover, .study ul.unknown > li > .buttonBar .tab-header .tab-close:hover, .tab-header .study ul.unknown > li > .buttonBar .tab-close:hover, .study ul.unknown > li > .buttonBar .pending .unacceptable:hover, .pending .study ul.unknown > li > .buttonBar .unacceptable:hover {
      background-color: #279695; }

.study .debugButtonBar {
  position: fixed;
  bottom: 0;
  right: 0; }

.study .factSelectorInspector {
  margin: 8px; }
  .study .factSelectorInspector ul li {
    margin-bottom: 8px; }
    .study .factSelectorInspector ul li .fact {
      display: inline;
      margin-bottom: 4px; }
    .study .factSelectorInspector ul li .details {
      margin-left: 36px; }

.overlayContainer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center; }
  .overlayContainer .overlay {
    padding: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    display: inline-block;
    background-color: white;
    text-align: left; }
  .overlayContainer ul {
    display: block; }
    .overlayContainer ul li {
      list-style-type: circle;
      margin-left: 1.5em; }
  .overlayContainer .tabs {
    display: flex;
    margin: -16px;
    margin-bottom: 16px; }
    .overlayContainer .tabs .tab {
      width: 50%;
      cursor: pointer; }
      .overlayContainer .tabs .tab h3 {
        margin: 0; }
    .overlayContainer .tabs .tab.current {
      cursor: inherit; }
      .overlayContainer .tabs .tab.current h3 {
        background-color: inherit; }
