
$unit: 4px;

$color1: #31c8c7;
$color2: #2CAAA9;

$color3: #f0af33;
$color4: #766db0;

$color5: #ff5f3b;
$color6: #ffd02a;
$color6-light: lighten(#ffd02a, 10%);

$color7: #d03a3e;
$color8: #303030; 
$color9: #f8f7f5;
$color10: #4bb6ac;
$color11: #f0af33;

$color12: #f8f9f3;
$clickableColor: #e95f3d;
$color14: lighten($color8, 20%);
$color15: #c6c6c6;
$color16: #ececec;
$color17: #f5f5f5;

$color4-light: lighten($color4, 20%);

$color-fg: $color8;
$color-fg-light: gray;
$color-fg-inverted: $color12;

$color-bg-light: #faf8f5;
$color-bg-inverted: $color4;

$small-font: 60%;

@import 'shared';

body {
    background-color: $color16;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    color: $color-fg;
}

.button {
    border-radius: $unit;
    margin: 2 * $unit;
    text-align: center;
    padding: $unit (2 * $unit);
    background-color: $color4;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $color9;
}

.button:hover {
    background-color: $clickableColor;
}

input[type=text], input[type=number], textarea {
    font-family: inherit;
    font-size: 120%;
    background-color: lighten($color-bg-light, 10%);
    border: 2px solid darken($color-bg-light, 10%);;
}

.smallFont {
    font-size: 60%;
    font-weight: 900;
}

.tabSet {
    height: 100vh;
    display: flex;

    .column:first-child {
        padding-right: $unit;
    }

    .column:nth-child(2) {
        padding-left: $unit;
    }

    $tabHeight: 2em;

    .column {
        width: 50%;
        padding: $unit;

        .closedTabs {

            .tab {
                height: $tabHeight;
                background-color: $color4-light;
                margin-bottom: 2px;
                color: $color12;

                .tab-close {
                    background-color: lighten($color4, 10%);
                }

                .tab-close:hover {
                    background-color: darken($color-bg-light, 20%);
                }
            }
        }

        .closeAll {
            @extend .borderBoxSizing;
            height: $tabHeight;
            color: $color12;
            margin: $unit;
            padding: 2 * $unit;
            position: absolute;
            right: 0;
            top: 0;
            background-color: lighten($color4, 10%);
        }

        .closeAll:hover {
            background-color: darken($color-bg-light, 20%);
        }

        .openTabs {
            .tab {
                display: flex;
                flex-direction: column;
                
                .tab-header {
                    color: $color-fg-inverted;
                    background-color: $color-bg-inverted;
                    flex-shrink: 0;
                    
                    .index {
                        background-color: darken($color-bg-inverted, 10%);
                    }
                    
                    .tab-close {
                        background-color: darken($color-bg-inverted, 10%);
                    }

                    .tab-close:hover {
                        background-color: darken($color-bg-inverted, 20%);
                    }
                }
                
                .content {
                    background-color: $color17;
                    flex-grow: 1;
                    overflow-y: scroll;
                    padding: 2 * $unit;
                }
            }
        }
    }

}

.tab-header {
    display: flex;
    border-top-left-radius: $unit;
    border-top-right-radius: $unit;

    .tab-close {
        @extend .button;
        border: none;
        border-radius: 0;
        border-top-right-radius: $unit;
        margin: 0;
    }

    .tab-name {
        padding: 2 * $unit;
        flex-grow: 1;
        cursor: pointer;
    }
}

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .option {
        background-color: $color4;
        color: $color12;
        padding: 2px;
        margin-bottom: 4px;
        margin-right: 4px;
    }

    .option:hover {
        background-color: darken($color4, 10%);
    }

    .option.active {
        font-weight: bold;
        background-color: $clickableColor;
    }
}

.wordClassifier {
    ul {
        margin-top: 3 * $unit;
    }
}

.wordTranslation {
    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4*$unit 0;
    }

    .label {
        width: 80px;
        font-weight: bold;
    }

    input {
        @extend .borderBoxSizing;
        width: 100%;
    }

    .button.add {
        display: inline-block;
    }
}

.sentenceTab {
    .sentenceEditor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        margin: 8px 0 8px 0;
        
        .word {
            display: flex;
            flex-direction: row;
            background-color: $color6-light;
            padding: 2 * $unit;
            margin-right: $unit;
            margin-bottom: 2 * $unit;
            font-size: 1.5rem;
        }

        .word.unparsed {
            background-color: $color5;
        }

        .word.selected {
            background-color: $color-bg-inverted;
            color: $color-fg-inverted;

            .form {
                color: darken($color-fg-inverted, 10%);
            }
        }

        .word.omitted {
            background-color: lighten($color6-light, 20%);
            color: #c0c0c0;

            .form {
                color: inherit;
            }
        }

        .word.omitted.selected {
            background-color: lighten($color-bg-inverted, 20%);
            color: darken($color-fg-inverted, 20%);

            .form {
                color: inherit;
            }
        }

        .word.drag-target {
            border-left: $unit solid $color-fg;
        }

        .word .form {
            margin-left: 4px;
            font-size: 80%;
            align-self: center;
            color: $color14;
        }

        .space {
            width: 4 * $unit;
            margin-bottom: 2 * $unit;
            background-color: $color-bg-inverted;
            color: $color-fg-inverted;
        }

        .sentenceEnd {
            flex-grow: 1;
        }
    }

    .openClose {
        fill: $color4;

        &:hover {
            color: $clickableColor;
            fill: $clickableColor;
        }

        svg {
            height: 0.6em;
            width: 0.6em;
            margin-right: $unit;
            position: relative;
            top: -1px;

        }
    }

    .sentenceTranslation {    
        input {
            @extend .borderBoxSizing;
            width: 100%;
            padding: $unit;
        }
    }

    .sortedFacts .form {
        font-style: italic;
        margin-left: $unit;
    }

    .sentencePhrases {
        display: flex;
        flex-direction: line;
        
        .current, .matching {
            width: 50%;

            .button {
                display: inline-block;
                margin: 0;
                margin-right: $unit;
            }

            li {
                display: flex;
                align-items: flex-start;

                .clickable {
                }

                .match {
                    color: darken($color10, 10%);
                    font-weight: bold;
                    text-decoration: inherit;
                }

                .error {
                    color: $color5;
                }

                .phrase {
                    font-size: 80%;
                }
            }
        }
    }

    .phraseDebugger {
        ul {
            margin-left: 4 * $unit;

            li {
                margin-top: $unit;
            }

            .toggle {
                position: relative;
                height: 0;
                font-weight: bold;
                left: - 3 * $unit;
            }
        }
    }
}

.untranslated {    
    input {
        @extend .borderBoxSizing;
        width: 100%;
        padding: $unit;
    }
}

.wordInSearch {
    display: flex;
    flex-direction: row;
    background-color: $color6-light;
    padding: 2 * $unit;
    margin-right: $unit;
    margin-bottom: 2 * $unit;
    cursor: pointer;

    .index {
        color: $color2;
        background-color: $color12;
        top: auto;
    }

    .error {
        color: $color5;
    }

    .form {
        margin-left: 4px;
        font-size: 80%;
        align-self: center;
    }

    .count {
        margin-left: 4px;
        font-size: 80%;
        align-self: center;
    }
}

.wordSearch {    
    .filter {
        padding: $unit;
        border-bottom: 1px solid $color-bg-inverted;
        background-color: $color-bg-light;
        display: flex;
        
        input[type=text] {
            width: calc(100% - 4px);
            margin: $unit;
        }
        
        .option {
            margin: 0;
            margin-right: 2 * $unit;
            padding: $unit;
        }
    }
    
    .suggestions {
        margin-top: 4 * $unit;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .alternatives {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            
            ul {
                display: flex;
                flex-direction: row;
                margin-top: $unit;
                margin-left: 2 * $unit;

                li {
                    @extend .clickable;
                    background-color: $color6-light;
                    font-style: italic;
                    padding: $unit;
                    margin-bottom: 4px;
                    margin-right: 4px;
                    border-radius: $unit;
                }            
            }
        }

        .suggestion {
            @extend .wordInSearch
        }
    }
}

.buttonBar {
    display: flex;
    flex-wrap: wrap; 

    > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: $unit * 2;
    }

    .selected {
        font-weight: bold;
        background-color: $clickableColor;
    }
    
    input[type=number] {
        width: 15 * $unit;
        text-align: right;
    }
    
    select {
        font-size: inherit;
        font-family: inherit;
    }

    .factId::before {
        content: '#'
    }

    .factId {
        @extend .borderBoxSizing;
        margin: 2*$unit 0;
        border: 2px solid #e9e0d3;
        background: white;
        padding: 0 2*$unit;
    }
}

.buttonBar.right {
    float: right;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        padding-bottom: $unit;
        margin: 0;
    }
    
    li.drag-target {
        border-top: $unit solid $color-fg;
    }
}

.index {
    @extend .smallFont;
    display: inline-block;
    background-color: $color2;
    color: $color12;
    border-radius: 4 * $unit;
    margin-right: $unit;
    text-align: center;
    position: relative;
    top: -0.20em;
    width: 2.6em;
    height: 2em;

    .number {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.index.missing {
    background-color: $color5;
}

.formName {
    padding-top: 2 * $unit;
    
    .label {
        font-style: italic;
    }
    
    .name {
        font-weight: bold;
    }
}

ul.wordDerivations {
    margin-top: 2 * $unit;

    li {
        .derivation {
            display: flex;
            flex-direction: row;

            .label {
                font-weight: bold;
                padding: 2 * $unit;
                padding-left: 0;
                width: 8em;
            }

            .word {
                @extend .wordInSearch;

                display: block;

                .classifier {
                    font-size: 80%;
                }
            }
        }

        .wordSearch {
            width: 100%;
        }
    }

    .button {
        position: relative;
        top: -$unit;
    }
}

ul.wordForms {
    display: flex;
    flex-wrap: wrap;
    
    li {
        margin-right: $unit;
        padding: 2px 6px;
        margin: 2px;
        border-radius: 3px;
        cursor: pointer;
    }

    li:hover {
        background-color: $clickableColor;
        color: white;
    }

    .current {
        background-color: $color6;
    }
}

.inflections {
    padding-top: 2 * $unit;
    
    .inflectionName {
        font-style: italic;
        
        .name {
            font-weight: bold;
            font-style: normal;
        }

        .button {
            font-weight: normal;
            display: inline-block;
        }
    }
    
    .inherits {
        font-style: italic;
        
        .clickable {
            font-weight: bold;
        }
    } 
    
    table {        
        width: 100%;
        margin-bottom: 2 * $unit;
        margin-top: 2 * $unit;
        border-spacing: $unit;
        display: inline-block;
        
        td {
            padding: $unit;
                        
            .form {
                margin: $unit 0;
            }
            
            .add {
                @extend .index;
                float: right;
                margin: 0 (4 * $unit);
                margin-top: 2px;
                background-color: inherit;

                .number {
                    font-weight: bold;
                }
            }

            .add:hover {
                background-color: $color6;
                color: $color8;
            }

            .index {
                margin: 0 (4 * $unit);
                margin-top: 2px;
                float: right;
            }
        }

        tbody {
            td.full {
                background-color: $color6-light;
            }
        }

        tbody td:first-child {
            font-style: italic;
            background-color: inherit;
        }

        thead {
            background-color: $color-bg-light;
        }
    }
}

.topics {
    ul {
        li {
            cursor: pointer;
        }

        li:hover {
            text-decoration: underline;
        }
    }
}

.wordsWithInflection, .factoidRelated {
    .button {
        display: inline-block;
        position: relative;
        top: -1px;
        font-size: $small-font;
    }
}

.clickable:hover {
    color: black;
    text-decoration: underline;
}

.facts {
    padding-left: $unit * 2;

    .index {
        cursor: pointer;
        margin-right: $unit * 3;
    }

    .count {
        margin-left: $unit;
    }

    .form {
        margin-left: $unit;
        font-style: italic;
    }

    .hard {
        color: darken($color15, 15%);
        font-style: italic;
    }

    .button {
        display: inline-block;
        position: relative;
        top: - 1px;
        font-size: $small-font; 
        margin: $unit;
    }

    .insufficient {
        font-size: $small-font;
        background-color: $color-bg-light;
        padding: 2px 3px;
        border-radius: 2px;
        position: relative;
        top: -2px;
        margin-left: 1px;
    }
}

.sentencesWithFact {
    .index {
        top: -0.35em;
        margin-right: 2 *$unit;

        .number {
            position: relative;
            top: 1px;
        } 

    }

    .match {
        color: darken($color10, 10%);
        font-weight: bold;
        text-decoration: inherit;
    }

    li {
        margin: $unit 0;
    }
}

.searchSentences {
    input[type=text] {
        @extend .borderBoxSizing;
        width: 100%
    }

    input[type=checkbox] {
        margin-right: 2 * $unit;
    }

    .filter {
        padding: 2 * $unit;
        display: flex;
    }

    .error {
        color: $color7;
        font-weight: bold;
    }
}

.phraseStudyWords {
    .match, .case {
        color: darken($color10, 10%);
        font-weight: bold;
        text-decoration: inherit;
    }

    .case {
        font-style: italic;
    }

    .error {
        color: $color7;
        font-weight: bold;
    }

    li {
        margin: $unit 0;
    }
}

.phrase, .topic {
    .field {
        padding: 2 * $unit 0;

        .label {
            @extend .smallFont;
            margin-bottom: $unit;
        }

        input, textarea {
            @extend .borderBoxSizing;
            width: 100%
        }
    }
}

.phrase {
    .error {
        color: $color7;
        font-weight: bold;
    }

    .pattern .phraseFacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        > div {
            background-color: $color10;
            color: white;
            font-size: 80%;
            padding: 1px $unit 3px;
            margin-right: 2 * $unit;
        }

        > div:hover {
            background-color: darken($color10, 10%);
            text-decoration: none;
        }
    }
}

.matchingSentences {
    .conflict {
        color: $color5;
        font-weight: bold;
    }
}

.sentenceWithButton {
    margin: 2 * $unit 0;
    display: flex;
    align-items: flex-start;

    .index {
        margin-top: 2px;
        margin-right: 2 * $unit;
    }

    .button {
        display: inline-block;
        margin: 0;
        margin-right: $unit;
    }

    .main {
        .sentence {
            display: block;

            .match {
                color: darken($color10, 10%);
                font-weight: bold;
                text-decoration: inherit;
            }

            .ambiguous:after {
                color: lighten($color10, 20%);
                font-weight: bold;
                content: ' (?)';
            }

            .missing {
                font-style: italic;
                border-bottom: dotted 2px $color5;
            }
        }

        .external.sentence {
            span {
                padding-right: $unit;
            }
        }
    }

    .en {
        margin-top: $unit;
        margin-bottom: $unit;
        @extend .smallFont;
    }
}

.paging {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 2 * $unit;

    li {
        margin-right: 4 * $unit;
        color: $color4;
        border: 1px solid $color4;
        border-radius: $unit;
        padding: $unit;
        padding-bottom: $unit - 1px;
        margin: 2 * $unit;
    }

    li:hover, .current {
        background-color: $clickableColor;
        border-color: $clickableColor;
        color: $color9;
    }
}

.formFilter {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 2 * $unit;

    li:hover {
        cursor: pointer; 
    }
    
    li {
        margin-right: 4 * $unit;
        color: $color4;
        border: 1px solid $color4;
        border-radius: $unit;
        padding: $unit;
        padding-bottom: $unit - 1px;
        margin: 2 * $unit;
    }
    
    .active {
        background-color: $clickableColor;
        border-color: $clickableColor;
        color: $color9;
    }
}

.tagFilter {
    display: flex;
    flex-wrap: wrap;
    margin-top: (2 * $unit); 
    margin-bottom: (4 * $unit); 

    .tag {
        cursor: pointer;
        display: flex;
        margin: $unit $unit * 2;
    }

    .tag:hover {
        color: black;
    }

    .selected {
        font-weight: bold;
    }
}

ul.stats {
    margin: (4 * $unit) 0;
}

.tab .content .buttonBar .tags {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin-top: $unit;

    h3 {
        margin: 0;
    }

    h3:hover {
        background-color: $color6;
    }

    .content {
        background-color: darken($color17, 7%);

        .existing {
            margin-bottom: 2 * $unit;

            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    background-color: $color6-light;
                    padding: $unit 2 * $unit;
                    margin: $unit;
                    border-radius: $unit;
                }

                li:hover {
                    background-color: darken($color6, 10%);
                    text-decoration: underline;
                }
            }
        }        

        .add {
            margin: 0 $unit;
            display: flex;
            align-items: center;
        }
    }
}

.addWord {
    display: flex;
    padding: 2 * $unit;
    margin: 2 * $unit;
    background-color: $color-bg-light;
    align-items: stretch;

    input {
        flex-grow: 1
    }
    
    select {
        background-color: lighten($color-bg-light, 10%);
        margin-left: 2 * $unit;
        -webkit-appearance: menulist-button;
    }
    
    .button {
        margin: 0;
        margin-left: 2 * $unit;
    }
}

.addPhrase {
    @extend .addWord;

    flex-wrap: wrap;

    .label {
        margin-top: 6px;
        margin-right: 2 * $unit;
    }

    .description {
        @extend .smallFont;
        margin-top: 2 * $unit;
        width: 100%;
    }
}

input.factoid {
    width: 100%;
}

textarea.factoid {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    height: 40em;
}

textarea.description {
    height: 2.5em;
}

.comment {
    textarea {
        width: 100%;
        font-size: inherit;
        font-family: inherit;
    }

    input[type=submit] {
        border: none;
        font-size: inherit;
    }
}

.history {
    li {
        margin: 4 * $unit 0;

        .event {
            text-transform: uppercase;
            @extend .smallFont;
            background-color: $color10;
            color: $color12;
            padding: $unit;
            border-radius: $unit;
            position: relative;
            margin-right: 2 * $unit;
            min-width: 6em;
            text-align: center;
        }

        .main {
            display: flex;
            align-items: flex-start;

            .date {
                @extend .smallFont;
                margin-bottom: $unit + 1px;
            }

            .text {
                border-left: 2px solid $color8;
                padding: 2px 0;
                padding-left: 6px;
                margin-left: $unit;

                .form {
                    color: #808080;
                    font-size: 80%;
                }

                p {
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: $unit;
                }

                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.status {
    margin: $unit 0;
    margin-top: 2 * $unit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    .current {
        font-style: italic;
    }
}

.pendingSentences {
    li {
        display: flex;
        align-items: center;
    }

    .unacceptable {
        background-color: $color11;
        @extend .button;
    }
}

.allSentences {
    li {
        margin-bottom: 2 * $unit;
    }

    .jp {
        margin-bottom: $unit;
    }

    .en {
    }
}

h3 {
    font-size: inherit;
    margin-top: 4 * $unit;
    margin-bottom: 2 * $unit;
    margin-right: -2 * $unit;
    margin-left: -2 * $unit;
    color: $color9;
    
    padding: 2 * $unit;

    color: $color8;
    background-color: $color6-light;
}