@import 'shared';

$headlineFont: 'Rubik';

$smallFontFactor: 0.8;
$smallFont: percentage($smallFontFactor);

$seeAlsoSize: 0.6em;
$seeAlsoMargin: 0.1em;

.seeAlso {
    width: $seeAlsoSize;
    height: $seeAlsoSize;
    margin-right: $seeAlsoMargin;
    background-image: url('/img/see-also.svg');
    background-size: $seeAlsoSize $seeAlsoSize;
    display: inline-block;
    content: '';
}

a {
    color: inherit;
    text-decoration: none;
}

.guide {
    font-weight: 400;
    font-size: 12pt;

    padding-right: 3em;
    padding-left: 3em;

    @media (max-width: $studyMaxWidth - 100px) {
        padding-right: 1em;
        padding-left: 1em;
    }

    @media (max-height: 500px), (max-width: 500px) {
        font-size: 11pt;
    }

    .smallFont {
        font-size: 10pt;
    }

    h3 {
        @extend .smallFont;
        padding-bottom: 3px;
        border-bottom: 1px solid black;
    }
    
    h1 {
        font-family: $headlineFont;
        font-size: 400%;
        font-weight: 900;
        margin-bottom: 0;
    }

    h2 {
        font-family: $headlineFont;
        font-weight: 700;
        margin-left: 1em;
        margin-top: 0;
        color: $clickableColor;
    }
 
    h2.clickable:hover {
        color: darken($clickableColor, 20%);
    }

    li {
        line-height: 120%;
        margin-top: 3*$unit;
        margin-bottom: 3*$unit;

        .match {
            color: $clickableColor;
        }

        .en {
            margin-top: $unit;
            font-style: normal;
            font-size: $smallFont;
        }
    }

    .clickable:hover {
        color: $clickableColor;
    }

    $breakColumns: 850px;

    .columns {
        display: flex;
        flex-direction: row;
        margin-top: 8 * $unit;

        @media (max-width: $breakColumns) {
            flex-direction: column;
            align-items: flex-start;
        }

        .main {
            flex-grow: 1;
        }

        .sidebar {
            margin-left: 8 * $unit;

            @media (max-width: $breakColumns) {
                margin-left: 0;
                margin-top: 1em;
            }

            min-width: 25%;

            ul {
                li::before {
                    @extend .seeAlso;
                }

                li {
                    text-indent: -($seeAlsoSize + $seeAlsoMargin);
                    margin-left: ($seeAlsoSize + $seeAlsoMargin);
                }

                .en {
                    margin-left: ($seeAlsoSize + $seeAlsoMargin) / $smallFontFactor;
                }
            }
        }
    }

    p {
    }

    .factoid {
        ul  li {
            font-size: inherit;

            list-style: initial;
            margin: 0.5em 0;
            margin-left: 2em;
        }
    }

    .inflections {
        table {
            border-collapse: collapse;
            width: 100%;

            thead {
                border-bottom: 1px solid gray;
                font-size: $smallFont;
            }

            td:nth-child(1) {
                border-right: 1px solid gray;
                padding-left: 0;

                font-size: $smallFont;
            }

            td {
                padding: 0.5em 1em;  

                @media (min-width: 600px) {
                    padding: 0.5em 4 * $unit;  
                }
                
                .clickable {
                    white-space: nowrap;
                }

                .clickable::before {
                    @extend .seeAlso;
                }
            }
        }
    }

    .inflectionForm {
        .posName {
            @extend .smallFont;
            font-weight: bold;
            margin-top: 2em;
            margin-bottom: 1.5em;
        }

        .pos .form {
            display: flex;
            flex-direction: row;
            margin-top: 0.5em;

            .name {
                @extend .smallFont;
                margin-top: 0.2em;
                flex-basis: 0;
                flex-grow: 1;
            }

            .formation {
                flex-basis: 0;
                flex-grow: 2;

                > div {
                    margin-bottom: 0.5em;

                    li {
                        list-style: none;
                        margin: 0;
                    }

                    .relativeTo {
                        @extend .smallFont;
                    }
                }
            }
        }

        .seeAll {
            @extend .clickable;
            color: $clickableColor;
            @extend .smallFont;
            margin-top: 0.5em;

            &:hover {
                color: darken($clickableColor, 20%);
            }
        }

        ul.phrases {
            .clickable::before {
                @extend .seeAlso;
            }
        } 
    }


    .otherMeanings {
        .clickable::before {
            @extend .seeAlso;
        }
    }

    .fact.inflection {
        .form.clickable {
            display: inline-block;

            &::before {
                @extend .seeAlso;
            }
        }
    }

    .fact.inflection, .inflectionForm {
        .stemToInflected {
            .clickable {
                white-space: nowrap;

                &::before {
                    @extend .seeAlso;
                }
            }

            .arrow {
                margin: 0 .2em;
                position: relative;
                top: 0.1em;
            }
        }
    }

    .tagFact ul.factsWithTag li::before {
        @extend .seeAlso;   
    }
}

$color2: #2CAAA9;

$lowerColor: lighten($color2, 40%);

.explainSentence {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;

    #beforeTable, #afterTable {
        flex-grow: 1;
        width: 100%;
    }

    #beforeTable .nav {
        text-align: center;
    }

    #afterTable {
        flex-grow: 2;
        background-color: $lowerColor;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table {
        font-weight: normal;
        font-size: 14pt;
        border-collapse: collapse;
        width: 100%;

        col:nth-child(1) {
            width: 50%;
        }

        col:last-child() {
            width: 50%;
        }

        tr:nth-child(n + 3) {
            background-color: $lowerColor;
        }

        tr {
            font-size: 80%;

            td {
                vertical-align: top;
                padding: 2 * $unit;

                a:hover {
                    color: $clickableColor; 
                }

                .jp::before {
                    @extend .seeAlso;
                }

                .jp {
                    font-weight: 600;
                    margin-left: $seeAlsoSize + $seeAlsoMargin;
                    text-indent: -($seeAlsoSize + $seeAlsoMargin);
                }

                .en {
                    margin-left: $seeAlsoSize + $seeAlsoMargin;
                }

                .form {
                    border-top: 1px $color2 solid;
                    text-transform: uppercase;
                    color: $color2;
                    font-size: 80%;
                    padding: 1px;
                    display: block;
                }

                &.phrase {
                    border-top: solid 2px $color2;

                    .phraseName::before {
                        @extend .seeAlso;
                    }

                    .phraseName {
                        margin-top: 0.1em;
                        font-weight: 600;
                        margin-left: $seeAlsoSize + $seeAlsoMargin;
                        text-indent: -($seeAlsoSize + $seeAlsoMargin);
                    }
                }

                .formation {
                    .removed {
                        text-decoration: line-through;
                        color: gray;
                    }

                    .added {
                        font-weight: bold;
                    }
                }
            }
        }

        tr.jp {
            font-size: 120%;
            font-weight: 600;
        }
    }

}