@import 'shared';

$headlineFont: 'Rubik';

$smallFontFactor: 0.8;
$smallFont: percentage($smallFontFactor);

$seeAlsoSize: 0.6em;
$seeAlsoMargin: 0.1em;

$color2: #2CAAA9;
$lowerColor: lighten($color2, 40%);

body.sentence {

    /* This makes the page as wide as the widest of its children. see 
        http://stackoverflow.com/questions/21389073/why-isnt-body-expanding-to-fit-its-contents
    */
    display: inline-block;
    width: auto !important;
}

.seeAlso {
    width: $seeAlsoSize;
    height: $seeAlsoSize;
    margin-right: $seeAlsoMargin;
    background-image: url('/img/see-also.svg');
    background-size: $seeAlsoSize $seeAlsoSize;
    display: inline-block;
    content: '';
}

a {
    color: inherit;
    text-decoration: none;
}

$guideMaxWidth: 950px;
$guideMargin: 5vw;
$guideMarginBreakpoint: 600px;

body.guide {
    min-height: 100vh;
    background-color: $lowerColor;

    .guideContainer {
        height: 100%;
        margin-top: 80px;

        .guide {
            min-height: 100%;
            background-color: white;
            padding: 1em 3em;
            margin-left: auto;
            margin-right: auto;
            max-width: $guideMaxWidth;

            width: 100vw - 2 * $guideMargin;

            @media (max-width: $guideMarginBreakpoint) {
                width: 100%;
            }

            border-right: 1px solid darken($lowerColor, 5%);

            @extend .borderBoxSizing;

            @media (max-width: 500px) {
                padding: 0.3em 1em;
            }

        }
    }
}

.overlay .guide {
    padding-right: 3em;
    padding-left: 3em;

    @media (max-width: $studyMaxWidth - 100px) {
        padding-right: 1em;
        padding-left: 1em;
    }
}

.guide {
    font-weight: 400;
    font-size: 12pt;

    @media (max-height: 500px), (max-width: 500px) {
        font-size: 11pt;
    }

    .smallFont {
        font-size: 10pt;
    }

    h3 {
        @extend .smallFont;
        padding-bottom: 3px;
        border-bottom: 1px solid black;
    }
    
    h1 {
        font-family: $headlineFont;
        font-size: 400%;
        font-weight: 900;
        margin-bottom: 0;

        @media (max-width: 500px) {
            font-size: 250%;
        }
    }

    h2 {
        font-family: $headlineFont;
        font-weight: 700;
        margin-left: 1em;
        margin-top: 0;
        color: $clickableColor;
    }
 
    h2.clickable:hover {
        color: darken($clickableColor, 20%);
    }

    li {
        line-height: 120%;
        margin-top: 3*$unit;
        margin-bottom: 3*$unit;

        .match {
            color: $clickableColor;
        }

        .en {
            margin-top: $unit;
            font-style: normal;
            font-size: $smallFont;
        }
    }

    li.related {
        .en {
            margin-left: ($seeAlsoSize + $seeAlsoMargin) / $smallFontFactor;
        }

        .jp {
            display: inline;
        }
    }

    ul.sentences li:hover {
        color: $clickableColor;
    }

    .clickable:hover {
        color: $clickableColor;
    }

    $breakColumns: 850px;

    .columns {
        display: flex;
        flex-direction: row;
        margin-top: 8 * $unit;

        @media (max-width: $breakColumns) {
            flex-direction: column;
            align-items: flex-start;
        }

        .main {
            flex-grow: 1;
        }

        .sidebar {
            margin-left: 8 * $unit;

            @media (max-width: $breakColumns) {
                margin-left: 0;
                margin-top: 1em;
            }

            min-width: 25%;

            ul {
                li::before {
                    @extend .seeAlso;
                }

                li {
                    text-indent: -($seeAlsoSize + $seeAlsoMargin);
                    margin-left: ($seeAlsoSize + $seeAlsoMargin);
                }

                .jp {
                    display: inline;
                }

                .en {
                    margin-left: ($seeAlsoSize + $seeAlsoMargin) / $smallFontFactor;
                }
            }
        }
    }

    p {
    }

    .factoid {
        ul  li {
            font-size: inherit;

            list-style: initial;
            margin: 0.5em 0;
            margin-left: 2em;
        }
    }

    .inflections {
        table {
            border-collapse: collapse;
            width: 100%;

            thead {
                border-bottom: 1px solid gray;
                font-size: $smallFont;
            }

            td:nth-child(1) {
                border-right: 1px solid gray;
                padding-left: 0;

                font-size: $smallFont;
            }

            td {
                padding: 0.5em 1em;  

                @media (min-width: 600px) {
                    padding: 0.5em 4 * $unit;  
                }
                
                .clickable {
                    white-space: nowrap;
                }

                .clickable::before {
                    @extend .seeAlso;
                }
            }
        }
    }

    .inflectionForm, .wordForm {
        .posName {
            @extend .smallFont;
            font-weight: bold;
            margin-top: 2em;
            margin-bottom: 1.5em;
        }

        .pos .form {
            display: flex;
            flex-direction: row;
            margin-top: 0.5em;

            .name {
                @extend .smallFont;
                margin-top: 0.2em;
                flex-basis: 0;
                flex-grow: 1;
            }

            .formation {
                flex-basis: 0;
                flex-grow: 2;

                > div {
                    margin-bottom: 0.5em;

                    li {
                        list-style: none;
                        margin: 0;
                    }

                    .relativeTo {
                        @extend .smallFont;
                    }
                }
            }
        }

        .seeAll {
            @extend .clickable;
            color: $clickableColor;
            @extend .smallFont;
            margin-top: 0.5em;

            &:hover {
                color: darken($clickableColor, 20%);
            }
        }

        ul.phrases {
            .clickable::before {
                @extend .seeAlso;
            }
        } 
    }

    .wordForm {
        li.clickable::before {
            @extend .seeAlso
        }

        .formation .word::before {
            @extend .seeAlso;
            margin-left: 2 * $unit;
        }
    }


    .otherMeanings {
        .clickable::before {
            @extend .seeAlso;
        }
    }

    .fact.inflection {
        .form.clickable {
            display: inline-block;

            &::before {
                @extend .seeAlso;
            }
        }
    }

    .fact.inflection, .inflectionForm {
        .stemToInflected {
            .clickable {
                white-space: nowrap;

                &::before {
                    @extend .seeAlso;
                }
            }

            .arrow {
                margin: 0 .2em;
                position: relative;
                top: 0.1em;
            }
        }
    }

    .tagFact ul.factsWithTag li::before {
        @extend .seeAlso;   
    }
}

.explainSentence {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: white;

    #beforeTable, #afterTable {
        flex-grow: 1;
        width: 100%;
    }

    #beforeTable .nav {
        text-align: center;
    }

    #afterTable {
        flex-grow: 2;
        background-color: $lowerColor;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table {
        font-weight: normal;
        font-size: 14pt;
        border-collapse: collapse;
        width: 100%;

        col:nth-child(1) {
            width: 50%;
        }

        col:last-child() {
            width: 50%;
        }

        tr:nth-child(n + 3) {
            background-color: $lowerColor;
        }

        tr {
            font-size: 80%;

            td {
                vertical-align: top;
                padding: 2 * $unit;

                a:hover {
                    color: $clickableColor; 
                }

                .jp::before {
                    @extend .seeAlso;
                }

                .jp {
                    font-weight: 600;
                    margin-left: $seeAlsoSize + $seeAlsoMargin;
                    text-indent: -($seeAlsoSize + $seeAlsoMargin);
                }

                .en {
                    margin-left: $seeAlsoSize + $seeAlsoMargin;
                }

                .form {
                    border-top: 1px $color2 solid;
                    text-transform: uppercase;
                    color: $color2;
                    font-size: 80%;
                    padding: 1px;
                    display: block;
                }

                &.phrase {
                    border-top: solid 2px $color2;

                    .phraseName::before {
                        @extend .seeAlso;
                    }

                    .phraseName {
                        margin-top: 0.1em;
                        font-weight: 600;
                        margin-left: $seeAlsoSize + $seeAlsoMargin;
                        text-indent: -($seeAlsoSize + $seeAlsoMargin);
                    }
                }

                .formation {
                    .removed {
                        text-decoration: line-through;
                        color: gray;
                    }

                    .added {
                        font-weight: bold;
                    }
                }
            }
        }

        tr.jp {
            font-size: 120%;
            font-weight: 600;
        }
    }

}

$searchColor: lightgray;
$searchWidth: 15em;

.sentence #search {
    right: 0;
    top: 0;
} 

.guide #search {
    right: $guideMargin;
    top: 20px;

    @media (min-width: $guideMaxWidth / (1 - 2 * $guideMargin / 100vw) ) {
        right: calc((100vw - #{ $guideMaxWidth }) / 2);
    }

    @media (max-width: $guideMarginBreakpoint) {
        width: 100%;
    }

    border-right: 1px solid darken($lowerColor, 5%);
    border-bottom: 1px solid darken($lowerColor, 5%);
}

.sentence #search, .guide #search {
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    width: $searchWidth;

    .form {
        flex-shrink: 0;
        border: 1px solid $searchColor;
        display: flex;
        border-top: none;
        border-right: none;

        input {
            padding: 0 $unit;

            font-family: inherit;
            font-size: inherit;

            border: none;
            margin-right: 0;

            flex-grow: 1;
            align-items: stretch; 
            padding: $unit;
        }
    }

    .results {
        background-color: rgba(255, 255, 255, 0.85);

        ul {
            margin: 2 * $unit;

            li::before {
                @extend .seeAlso;
            }

            li {
                text-indent: -($seeAlsoSize + $seeAlsoMargin);

                margin: 0;

                &::before {
                    content: none;
                }

                a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    width: 100%;
                    height: 100%;
                    padding-left: 1em;

                    .jp::before {
                        @extend .seeAlso;
                    }

                    .jp {
                        white-space: nowrap;
                        font-weight: bold;
                    }

                    .en {
                        margin-top: 2px;
                        font-size: 70%;
                        margin-left: ($seeAlsoSize + $seeAlsoMargin) / 0.7;
                    }

                    // special for here.
                    padding: 0.2em;
                    padding-left: 0.8em;

                    &:hover {
                        background-color: #f7f7f7;
                    }
                }
            }
        }

        .error {
            @extend .smallFont;
            display: inline-block;
            padding: 0.4em;
        }
    }

    max-height: 100vh;
    overflow-y: scroll;
}

#logo {
    position: absolute;
    top: 2vh;
    left: 2vw;
    z-index: -1;

    img {
        height: 44px;
        width: 44px;
    }
}

.home {
    margin: 0;
    height: 100%;
    background-color: #FAF8F5;
    font-size: 14pt;
    font-weight: normal;

    @media (max-width: 600px), (max-height: 600px) {
        font-size: 12pt;
    }

    > div {
        height: 100%;

        > div {
            height: 100%;
            display: flex;
            flex-direction: column;

            #upper, #lower {
                flex-grow: 1;
                flex-basis: 0;
            }

            #lower {
                background-color: $lowerColor;
                overflow-y: scroll;

                .results {
                    margin-top: 0.8em;

                    .errorContainer {
                        height: 40%;
                        width: 100%;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .error {
                            font-weight: bold;
                            text-align: center;
                            max-width: 50%;
                            font-size: $smallFont;
                        }
                    }

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;

                        li {
                            @extend .borderBoxSizing;
                            width: 100%;
                            height: 6em;
                            overflow: hidden;

                            a {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;

                                width: 100%;
                                height: 100%;
                                padding-left: 1em;

                                .jp::before {
                                    @extend .seeAlso;
                                }

                                .jp {
                                    white-space: nowrap;
                                    font-weight: bold;
                                }

                                .en {
                                    margin-top: 2px;
                                    font-size: 70%;
                                    margin-left: ($seeAlsoSize + $seeAlsoMargin) / 0.7;
                                }
                            }
                        }

                        li:nth-child(odd) {
                            background-color: darken($lowerColor, 10%);
                        }

                        $minColWidth: 400px;
                        $twoColumnsBreakpoint: 2 * $minColWidth;
                        $threeColumnsBreakpoint: 3 * $minColWidth;

                        @media (min-width: $twoColumnsBreakpoint) and (max-width: $threeColumnsBreakpoint) {
                            li {
                                width: 50%;
                            }

                            li:nth-child(odd) {
                                background-color: inherit;
                            }

                            li:nth-child(4n + 1), li:nth-child(4n) {
                                background-color: darken($lowerColor, 10%);
                            }
                        }

                        @media (min-width: $threeColumnsBreakpoint) {
                            li {
                                width: 33%;
                            }
                        }

                        li:hover {
                            background-color: #317a9a;
                            color: white;
                        }
                    }
                }
            }

            #upper {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                text-align: center;

                h1 {
                    font-family: Rubik;
                    font-weight: 900;
                    font-size: 2em;
                    margin: 0;
                }

                h3 {
                    margin: 2em;
                    font-family: inherit;
                    font-size: inherit;
                    font-weight: normal;

                    @media (max-height: 600px) {
                        margin: 1em;
                    }
                }

                #search {
                    position: absolute;
                    left: 50vw;
                    top: 50vh;

                    width: 20em;
                    margin-left: -10em;
                    margin-top: -0.7em;

                    .form {
                        input {
                            text-align: center;
                            font-size: inherit;
                            font-family: inherit;
                            width: 100%;

                            border: 1px solid #d0d0d0;
                        }
                    }
                }
            }
        }
    }
}