
$unit: 4px;


$color1: #31c8c7;
$color2: #2CAAA9;

$color3: #f0af33;
$color4: #766db0;

$color5: #ff5f3b;
$color6: #ffd02a;
$color6-light: lighten(#ffd02a, 10%);

$color7: #d03a3e;
$color8: #303030; 
$color9: #f8f7f5;
$color10: #4bb6ac;
$color11: #f0af33;

$color12: #f8f9f3;
$color13: #e95f3d;
$color14: lighten($color8, 20%);
$color15: #c6c6c6;
$color16: #ececec;
$color17: #f5f5f5;

$color4-light: lighten($color4, 20%);

$color-fg: $color8;
$color-fg-light: gray;
$color-fg-inverted: $color12;

$color-bg-light: #faf8f5;
$color-bg-inverted: $color4;

$small-font: 60%;

$highlight: #e6bf0e;
$lowlight: #636363;

html {
    margin: 0;
    padding: 0;
}

body {
    background-color: $color16;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    color: $color-fg;
}

.button {
    border-radius: $unit;
    margin: 2 * $unit;
    text-align: center;
    padding: $unit (2 * $unit);
    background-color: $color4;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $color9;
}

.button:hover {
    background-color: $color13;
}

input[type=text], input[type=number], textarea {
    font-family: inherit;
    font-size: 120%;
    background-color: lighten($color-bg-light, 10%);
    border: 2px solid darken($color-bg-light, 10%);;
}

.border-box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.smallFont {
    font-size: 60%;
    font-weight: 900;
}

.tabSet {
    height: 100vh;
    display: flex;

    .column:first-child {
        padding-right: $unit;
    }

    .column:nth-child(2) {
        padding-left: $unit;
    }

    $tabHeight: 2em;

    .column {
        width: 50%;
        padding: $unit;

        .closedTabs {

            .tab {
                height: $tabHeight;
                background-color: $color4-light;
                margin-bottom: 2px;
                color: $color12;

                .tab-close {
                    background-color: lighten($color4, 10%);
                }

                .tab-close:hover {
                    background-color: darken($color-bg-light, 20%);
                }
            }
        }

        .closeAll {
            @extend .border-box-sizing;
            height: $tabHeight;
            color: $color12;
            margin: $unit;
            padding: 2 * $unit;
            position: absolute;
            right: 0;
            top: 0;
            background-color: lighten($color4, 10%);
        }

        .closeAll:hover {
            background-color: darken($color-bg-light, 20%);
        }

        .openTabs {
            .tab {
                display: flex;
                flex-direction: column;
                
                .tab-header {
                    color: $color-fg-inverted;
                    background-color: $color-bg-inverted;
                    flex-shrink: 0;
                    
                    .index {
                        background-color: darken($color-bg-inverted, 10%);
                    }
                    
                    .tab-close {
                        background-color: darken($color-bg-inverted, 10%);
                    }

                    .tab-close:hover {
                        background-color: darken($color-bg-inverted, 20%);
                    }
                }
                
                .content {
                    background-color: $color17;
                    flex-grow: 1;
                    overflow-y: scroll;
                    padding: 2 * $unit;
                }
            }
        }
    }

}

.tab-header {
    display: flex;
    border-top-left-radius: $unit;
    border-top-right-radius: $unit;

    .tab-close {
        @extend .button;
        border: none;
        border-radius: 0;
        border-top-right-radius: $unit;
        margin: 0;
    }

    .tab-name {
        padding: 2 * $unit;
        flex-grow: 1;
    }
}

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .option {
        background-color: $color4;
        color: $color12;
        padding: 2px;
        margin-bottom: 4px;
        margin-right: 4px;
    }

    .option:hover {
        background-color: darken($color4, 10%);
    }

    .option.active {
        font-weight: bold;
        background-color: $color13;
    }
}

.wordClassifier {
    ul {
        margin-top: 3 * $unit;
    }
}

.wordTranslation {
    .form {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4*$unit 0;
    }

    .label {
        width: 80px;
        font-weight: bold;
    }

    input {
        @extend .border-box-sizing;
        width: 100%;
    }
}

.sentenceTab {
    .sentenceEditor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        margin: 8px 0 8px 0;
        
        .word {
            display: flex;
            flex-direction: row;
            background-color: $color6-light;
            padding: 2 * $unit;
            margin-right: $unit;
            margin-bottom: 2 * $unit;
            font-size: 1.5rem;
        }

        .word.unparsed {
            background-color: $color5;
        }

        .word.selected {
            background-color: $color-bg-inverted;
            color: $color-fg-inverted;

            .form {
                color: darken($color-fg-inverted, 10%);
            }
        }

        .word.omitted {
            background-color: lighten($color6-light, 20%);
            color: #c0c0c0;

            .form {
                color: inherit;
            }
        }

        .word.omitted.selected {
            background-color: lighten($color-bg-inverted, 20%);
            color: darken($color-fg-inverted, 20%);

            .form {
                color: inherit;
            }
        }

        .word.drag-target {
            border-left: $unit solid $color-fg;
        }

        .word .form {
            margin-left: 4px;
            font-size: 80%;
            align-self: center;
            color: $color14;
        }

        .space {
            width: 4 * $unit;
            margin-bottom: 2 * $unit;
            background-color: $color-bg-inverted;
            color: $color-fg-inverted;
        }

        .sentenceEnd {
            flex-grow: 1;
        }
    }

    .openClose {
        fill: $color4;

        &:hover {
            color: $color13;
            fill: $color13;
        }

        svg {
            height: 0.6em;
            width: 0.6em;
            margin-right: $unit;
            position: relative;
            top: -1px;

        }
    }

    .sentenceTranslation {    
        input {
            @extend .border-box-sizing;
            width: 100%;
            padding: $unit;
        }
    }

    .sortedFacts .form {
        font-style: italic;
        margin-left: $unit;
    }

    .sentenceFacts {
        display: flex;
        flex-direction: line;
        
        .current, .matching {
            width: 50%;

            .button {
                display: inline-block;
                margin: 0;
                margin-right: $unit;
            }

            li {
                display: flex;
                align-items: flex-start;

                .clickable {
                }

                .match {
                    color: darken($color10, 10%);
                    font-weight: bold;
                    text-decoration: inherit;
                }

                .error {
                    color: $color5;
                }

                .phrase {
                    font-size: 80%;
                }
            }
        }
    }
}

.untranslated {    
    input {
        @extend .border-box-sizing;
        width: 100%;
        padding: $unit;
    }
}

.wordSearch {    
    .filter {
        padding: $unit;
        border-bottom: 1px solid $color-bg-inverted;
        background-color: $color-bg-light;
        display: flex;
        
        input[type=text] {
            width: calc(100% - 4px);
            margin: $unit;
        }
        
        .option {
            margin: 0;
            margin-right: 2 * $unit;
            padding: $unit;
        }
    }
    
    .suggestions {
        margin-top: 4 * $unit;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .alternatives {
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            
            ul {
                display: flex;
                flex-direction: row;
                margin-top: $unit;
                margin-left: 2 * $unit;

                li {
                    @extend .clickable;
                    background-color: $color6-light;
                    font-style: italic;
                    padding: $unit;
                    margin-bottom: 4px;
                    margin-right: 4px;
                    border-radius: $unit;
                }            
            }
        }

        .suggestion {
            display: flex;
            flex-direction: row;
            background-color: $color6-light;
            padding: 2 * $unit;
            margin-right: $unit;
            margin-bottom: 2 * $unit;
            cursor: pointer;

            .index {
                color: $color2;
                background-color: $color12;
                top: auto;
            }

            .error {
                color: $color5;
            }

            .form {
                margin-left: 4px;
                font-size: 80%;
                align-self: center;
            }

            .count {
                margin-left: 4px;
                font-size: 80%;
                align-self: center;
            }
        }
    }
}

.buttonBar {
    display: flex;
    flex-wrap: wrap; 

    > div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-right: $unit * 2;
    }

    .selected {
        font-weight: bold;
        background-color: $color13;
    }
    
    input[type=number] {
        width: 15 * $unit;
        text-align: right;
    }
    
    select {
        font-size: inherit;
        font-family: inherit;
    }

    .factId::before {
        content: '#'
    }

    .factId {
        @extend .border-box-sizing;
        margin: 2*$unit 0;
        border: 2px solid #e9e0d3;
        background: white;
        padding: 0 2*$unit;
    }
}

.buttonBar.right {
    float: right;
}

ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        padding-bottom: $unit;
        margin: 0;
    }
    
    li.drag-target {
        border-top: $unit solid $color-fg;
    }
}

.index {
    @extend .smallFont;
    display: inline-block;
    background-color: $color2;
    color: $color12;
    border-radius: 4 * $unit;
    margin-right: $unit;
    text-align: center;
    position: relative;
    top: -0.20em;
    width: 2.6em;
    height: 2em;

    .number {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.index.missing {
    background-color: $color5;
}

.formName {
    padding-top: 2 * $unit;
    
    .label {
        font-style: italic;
    }
    
    .name {
        font-weight: bold;
    }
}

.inflections {
    padding-top: 2 * $unit;
    
    .inflectionName {
        font-style: italic;
        
        .name {
            font-weight: bold;
            font-style: normal;
        }

        .button {
            font-weight: normal;
            display: inline-block;
        }
    }
    
    .inherits {
        font-style: italic;
        
        .clickable {
            font-weight: bold;
        }
    } 
    
    table {        
        width: 100%;
        margin-bottom: 2 * $unit;
        margin-top: 2 * $unit;
        border-spacing: $unit;
        display: inline-block;
        
        td {
            padding: $unit;
                        
            .form {
                margin: $unit 0;
            }
            
            .add {
                @extend .index;
                float: right;
                margin: 0 (4 * $unit);
                margin-top: 2px;
                background-color: inherit;

                .number {
                    font-weight: bold;
                }
            }

            .add:hover {
                background-color: $color6;
                color: $color8;
            }

            .index {
                margin: 0 (4 * $unit);
                margin-top: 2px;
                float: right;
            }
        }

        tbody {
            td.full {
                background-color: $color6-light;
            }
        }

        tbody td:first-child {
            font-style: italic;
            background-color: inherit;
        }

        thead {
            background-color: $color-bg-light;
        }
    }
}

.wordsWithInflection, .factoidRelated {
    .button {
        display: inline-block;
        position: relative;
        top: -1px;
        font-size: $small-font;
    }
}

.clickable:hover {
    color: black;
    text-decoration: underline;
}

.facts {
    padding-left: $unit * 2;

    .index {
        cursor: pointer;
        margin-right: $unit * 3;
    }

    .count {
        margin-left: $unit;
    }

    .form {
        margin-left: $unit;
        font-style: italic;
    }

    .hard {
        color: darken($color15, 15%);
        font-style: italic;
    }

    .button {
        display: inline-block;
        position: relative;
        top: - 1px;
        font-size: $small-font; 
        margin: $unit;
    }

    .insufficient {
        font-size: $small-font;
        background-color: $color-bg-light;
        padding: 2px 3px;
        border-radius: 2px;
        position: relative;
        top: -2px;
        margin-left: 1px;
    }
}

.sentencesWithFact {
    .index {
        top: -0.35em;
        margin-right: 2 *$unit;

        .number {
            position: relative;
            top: 1px;
        } 

    }

    .match {
        color: darken($color10, 10%);
        font-weight: bold;
        text-decoration: inherit;
    }

    li {
        margin: $unit 0;
    }
}

.searchSentences {
    input[type=text] {
        @extend .border-box-sizing;
        width: 100%
    }

    input[type=checkbox] {
        margin-right: 2 * $unit;
    }

    .filter {
        padding: 2 * $unit;
        display: flex;
    }

    .error {
        color: $color7;
        font-weight: bold;
    }
}

.phraseStudyWords {
    .match, .case {
        color: darken($color10, 10%);
        font-weight: bold;
        text-decoration: inherit;
    }

    .case {
        font-style: italic;
    }

    .error {
        color: $color7;
        font-weight: bold;
    }

    li {
        margin: $unit 0;
    }
}

.phrase {
    .error {
        color: $color7;
        font-weight: bold;
    }

    .field {
        padding: 2 * $unit 0;

        .label {
            @extend .smallFont;
            margin-bottom: $unit;
        }

        input, textarea {
            @extend .border-box-sizing;
            width: 100%
        }
    }

    .pattern .phraseFacts {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        > div {
            background-color: $color10;
            color: white;
            font-size: 80%;
            padding: 1px $unit 3px;
            margin-right: 2 * $unit;
        }

        > div:hover {
            background-color: darken($color10, 10%);
            text-decoration: none;
        }
    }
}

.matchingSentences {
    .conflict {
        color: $color5;
        font-weight: bold;
    }
}

.sentenceWithButton {
    margin: 2 * $unit 0;
    display: flex;
    align-items: flex-start;

    .index {
        margin-top: 2px;
        margin-right: 2 * $unit;
    }

    .button {
        display: inline-block;
        margin: 0;
        margin-right: $unit;
    }

    .main {
        .sentence {
            display: block;

            .match {
                color: darken($color10, 10%);
                font-weight: bold;
                text-decoration: inherit;
            }

            .ambiguous:after {
                color: lighten($color10, 20%);
                font-weight: bold;
                content: ' (?)';
            }

            .missing {
                font-style: italic;
                border-bottom: dotted 2px $color5;
            }
        }

        .external.sentence {
            span {
                padding-right: $unit;
            }
        }
    }

    .en {
        margin-top: $unit;
        margin-bottom: $unit;
        @extend .smallFont;
    }
}

.paging {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 2 * $unit;

    li {
        margin-right: 4 * $unit;
        color: $color4;
        border: 1px solid $color4;
        border-radius: $unit;
        padding: $unit;
        padding-bottom: $unit - 1px;
        margin: 2 * $unit;
    }

    li:hover, .current {
        background-color: $color13;
        border-color: $color13;
        color: $color9;
    }
}

.formFilter {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 2 * $unit;

    li:hover {
        cursor: pointer; 
    }
    
    li {
        margin-right: 4 * $unit;
        color: $color4;
        border: 1px solid $color4;
        border-radius: $unit;
        padding: $unit;
        padding-bottom: $unit - 1px;
        margin: 2 * $unit;
    }
    
    .active {
        background-color: $color13;
        border-color: $color13;
        color: $color9;
    }
}

.tagFilter {
    display: flex;
    flex-wrap: wrap;
    margin-top: (2 * $unit); 
    margin-bottom: (4 * $unit); 

    .tag {
        cursor: pointer;
        display: flex;
        margin: $unit $unit * 2;
    }

    .tag:hover {
        color: black;
    }

    .selected {
        font-weight: bold;
    }
}

ul.stats {
    margin: (4 * $unit) 0;
}

.addWord {
    display: flex;
    padding: 2 * $unit;
    margin: 2 * $unit;
    background-color: $color-bg-light;
    align-items: stretch;

    input {
        flex-grow: 1
    }
    
    select {
        background-color: lighten($color-bg-light, 10%);
        margin-left: 2 * $unit;
        -webkit-appearance: menulist-button;
    }
    
    .button {
        margin: 0;
        margin-left: 2 * $unit;
    }
}

.addPhrase {
    @extend .addWord;

    flex-wrap: wrap;

    .label {
        margin-top: 6px;
        margin-right: 2 * $unit;
    }

    .description {
        @extend .smallFont;
        margin-top: 2 * $unit;
        width: 100%;
    }
}

textarea.factoid {
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    height: 7.5em;
}

.comment {
    textarea {
        width: 100%;
        font-size: inherit;
        font-family: inherit;
    }

    input[type=submit] {
        border: none;
        font-size: inherit;
    }
}

.history {
    li {
        margin: 4 * $unit 0;

        .event {
            text-transform: uppercase;
            @extend .smallFont;
            background-color: $color10;
            color: $color12;
            padding: $unit;
            border-radius: $unit;
            position: relative;
            margin-right: 2 * $unit;
            min-width: 6em;
            text-align: center;
        }

        .main {
            display: flex;
            align-items: flex-start;

            .date {
                @extend .smallFont;
                margin-bottom: $unit + 1px;
            }

            .text {
                border-left: 2px solid $color8;
                padding: 2px 0;
                padding-left: 6px;
                margin-left: $unit;

                .form {
                    color: #808080;
                    font-size: 80%;
                }

                p {
                    font-weight: bold;
                    margin: 0;
                    margin-bottom: $unit;
                }

                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.status {
    margin: $unit 0;
    margin-top: 2 * $unit;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    .current {
        font-style: italic;
    }
}

.pending {
    li {
        display: flex;
        align-items: center;
    }

    .unacceptable {
        background-color: $color11;
        @extend .button;
    }
}

h3 {
    font-size: inherit;
    margin-top: 4 * $unit;
    margin-bottom: 2 * $unit;
    margin-right: -2 * $unit;
    margin-left: -2 * $unit;
    color: $color9;
    
    padding: 2 * $unit;

    color: $color8;
    background-color: $color6-light;
}

$animationLength: 0.2s;

@keyframes swingout {
    from { transform: translate3d(0, 0, 0) }
    to   { transform: translate3d(-100vw, 0, 0) }
}

@keyframes swingin {
    from { transform: translate3d(100vw, 0, 0) }
    to   { transform: translate3d(0, 0, 0) }
}

.study {
    height: 100vh;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #606060;

    > .content {
        background-color: $color9; 
        max-width: 650px;
        width: 100%;
    }

    .upper {
        display: flex;
        flex-direction: column;

        height: 50vh;

        .sentenceId {
            margin: 2 * $unit;
            text-align: right;
            font-size: 80%; 
        }

        .explanation {
            margin: 36pt;
            margin-bottom: 12pt;
            font-size: 1em;
            font-weight: bold;
        }

        .sentence {
            margin: 36pt;
            margin-top: 0;
            font-size: 2em;
            flex-grow: 1;
            overflow: hidden;
            line-height: 125%;

            .nobr { 
                white-space: nowrap
            }

            .content {
                display: inline-block;

                .space {
                    /* if it's not inline-block we get no linebreaks within the studied phrase */
                    display: inline-block;
                }

                .word {
                    display: inline;
                    cursor: pointer;
                }

                .word:hover {
                    color: $color4;
                }               
            }

            .hidden {
                .space.studied {
                    margin: 0 -0.1em;
                    background-color: white;
                }

                .word.studied {
                    color: darkgray;
                    background-color: white;
                    padding: 0 0.1em;

                    .form {
                        color: $color9;
                        margin-left: 0.4em;
                        font-size: 40%;
                        display: block;
                    }
                }
            }

            @keyframes flash-shadow {
                0%   { text-shadow: 0px 0px 0em black; }
                66%  { text-shadow: 0px 0px 0.02em black; }
                100%  { text-shadow: none; }
            }

            .revealed {
                color: $color14;

                .word.studied {
                    animation-name: flash-shadow;
                    animation-duration: 1s;
                    animation-delay: 0.2s;
                    animation-timing-function: linear;
                    color: black;
                    font-weight: bold; 
                }
            }            
        }
        
        .sentence.leave {
            animation-name: swingout;
            animation-duration: $animationLength;

            transform: translate3d(-100vw, 0, 0);
        }

        .sentence.enter {
            animation-name: swingin;
            animation-duration: $animationLength;
        }
    }

    .upper, .lower {
        overflow: hidden;
    }

    .upper.dimmed {
        color: #505050; 

        .content {
            .sentence .revealed {
                color: inherit;
            }

            .word.studied {
                color: inherit;
            }

            .word:hover {
                color: inherit;
            }

            .word.highlight {
                color: $highlight;
            }

            .word.highlight.low {
                color: $lowlight;
            }
        }
    }

    .studyButtonBar {
        @extend .buttonBar;

        height: 0;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 20;
        flex-wrap: nowrap;

        @media (min-width: 600px) {
            font-size: 1.5em;
        }

        .button {
            display: block;
            margin: 0;
            font-weight: 700;
            font-size: 1.5em;
            padding: 3*$unit 1em;
            border-radius: 1em;

            .line {
                @media (max-width: 400px) {
                    display: block;
                }
            }
        }

        .button.smallText {
            font-size: 1.2em;
            line-height: 125%;
        }

        .button.left {
            width: 50%;
            flex-grow: 1;
            @extend .border-box-sizing;
            border-bottom-left-radius: 0; 
            border-top-left-radius: 0;
            margin-right: 5%;
            text-align: left;
            border-left: none;
        }

        .button.right {
            width: 50%;
            text-align: right;
            margin-left: 5%;
            flex-grow: 1;
            @extend .border-box-sizing;
            border-bottom-right-radius: 0; 
            border-top-right-radius: 0; 
            border-right: none;
        }
    }

    .lower {
        background-color: #b9b2d4;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3em;
        @extend .border-box-sizing;

        .didYouKnowFact {
            display: block;
            flex-grow: 1;
            width: 100%;
            max-width: 500px;

            > li {
                $padding: 1em;

                padding: $padding;
                $borderRadius: 4 * $unit;
                $buttonColor: #e6a00e;

                .content {
                    animation-name: swingin;
                    animation-duration: $animationLength;

                    font-size: 1.5em;
                    line-height: 130%;
                    text-align: center;
                    background-color: $color9;
                    display: block;
                    padding: $padding;
                    border-radius: $borderRadius;

                    color: #636363;

                    .explain {
                        display: flex;
                        flex-direction: row;
                        align-items: stretch;
                        margin: -$padding;
                        margin-top: 0;

                        .repetitionIndicator {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            $size: 8px;

                            padding: 3*$unit 4*$unit;
                            background-color: $buttonColor;
                            border-bottom-left-radius: $borderRadius;
                            border-top-right-radius: $borderRadius;

                            > div {
                                width: $size;
                                height: $size;
                                margin-right: 2px;
                                background-color: #fbeac5;
                            }

                            .full {
                                background-color: #dc7018;
                            }
                        }

                        .space {
                            flex-grow: 1;
                        }

                        .button {
                            margin: 0;
                            padding: 0 4*$unit;
                            background-color: $buttonColor;
                            font-weight: 700;

                            .text {
                                font-size: 0.7em;
                            }

                            display: block;

                            border-radius: 0;
                            border-bottom-right-radius: $borderRadius;
                            border-top-left-radius: $borderRadius;
                        }
                    }
                }

                .content:hover {
                    .explain .button {
                        background-color: $color13;
                    }
                }

                strong {
                    color: $lowlight;
                }

                .verbatim {
                    color: $highlight;
                }

                .nobr {
                    display: block;
                    margin: $unit 0;
                }
            }
        }

        .didYouKnowFact.leave {
            li .content {
                animation-name: swingout;
                animation-duration: $animationLength;
            }
        }

        @keyframes fadein {
            from { opacity: 0; }
            to   { opacity: 1; }
        }

        .translation {
            animation: fadein 0.3s;
            font-family: Source Sans Pro;
            @extend .border-box-sizing;
            padding: 0 2em;
            margin-top: 2em;
            width: 100%;
            color: white;
            font-style: italic;
            font-weight: 600;
            text-align: center;
            font-size: 1.5em;
        }
    }
}

.studyOuter {
    .debugButtonBar {
        @media (max-width: 600px) {
            display: none;
        }

        position: fixed;
        bottom: 0;
        right: 0;
    }

    .factSelectorInspector {
        margin: 2 * $unit;

        ul {
            li {
                margin-bottom: 2 * $unit;

                .fact {
                    display: inline;
                    margin-bottom: $unit;
                }

                .details {
                    @extend .smallFont;
                    margin-left: 9*$unit;
                }
            }
        }
    }
}

$overlayPadding: 4 * $unit;

.overlayContainer {
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;

    .overlay {
        @extend .border-box-sizing;

        width: 700px;
        max-width: 100%;

        max-height: 100vh;

        padding: $overlayPadding;
        background-color: white;
        text-align: left;

        display: flex;
        flex-direction: column;

        overflow-y: scroll;
    }

    ul {
        display: block;

        li {
            list-style-type: circle;
            margin-left: 1.5em;
        }
    }

    .tabs {
        display: flex;
        margin: -$overlayPadding;
        margin-bottom: $overlayPadding;

        .tab {
            width: 50%;
            cursor: pointer;

            h3 {
                margin: 0;
            } 
        }

        .tab.current {
            cursor: inherit;

            h3 {
                background-color: inherit;    
            } 
        }
    }
}

.spinner {
    position: fixed;
    top: calc(50% - 43px);
    left: calc(50% - 43px);
    width: 86px;
    height: 86px;
}

.globalError {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: $color13;
    color: $color9;
    padding: 2 * $unit;
    text-align: center;     
}

.studyPlan {
    .tabs {
        display: flex;

        .tab {
            padding: 4*$unit;
            text-align: center;
            flex-grow: 1;

            background-color: $color5;
            color: white;
        }

        .current {
            color: $color5;
            background-color: white;
        }
    }

    ul li {
        display: flex;
        align-items: center;

        .fact {
            flex-grow: 1;
        }

        .button {
            flex-grow: 0;
        } 
    }
}