body {
    font-family: sans-serif;
    font-size: 12pt;
}

h3 {
    font-size: 36pt;
}

h4 {
    font-size: 24pt;
    font-style: italic;
}

.button {
    border: solid 1px darkslategray;
    border-radius: 5px;
    margin: 6pt 0;
    padding: 6pt;
    cursor: pointer;
}

.button:hover {
    background-color: lightgray;
}

.knownFact {
    margin: 6pt 0;
    background-color: #e5e5e5;
    padding: 6pt;
}

.knownFact.known {
    color: #ffffff;
}

.knownFact.new {
    font-size: 48pt;
}

.bar {
    background-color: #52928f;
    height: 10px;
    display: inline-block;
}

table {
    margin: 10pt 0;

    th {
        overflow-x: hidden;
        font-size: 8pt;
    }
}
