$unit: 4px;
$color4: #766db0;

$color9: #f8f7f5;
$color8: #303030; 
$color13: #e95f3d;
$color14: lighten($color8, 20%);
$color16: #ececec;
$color-fg: $color8;
$colorLower: #b9b2d4;

$button-height-breakpoint: 600px;

$highlight: #e6bf0e;
$lowlight: #636363;

@import 'shared';

body {
    background-color: $color16;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 12pt;
    color: $color-fg;
}
 
ul {
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        padding-bottom: $unit;
        margin: 0;
    }
}

.button {
    border-radius: $unit;
    margin: 2 * $unit;
    text-align: center;
    padding: $unit (2 * $unit);
    background-color: $color4;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: $color9;
}

.button:hover {
    background-color: $color13;
}

$animationLength: 0.2s;

@keyframes swingout {
    from { transform: translate3d(0, 0, 0) }
    to   { transform: translate3d(-100vw, 0, 0) }
}

@keyframes swingin {
    from { transform: translate3d(100vw, 0, 0) }
    to   { transform: translate3d(0, 0, 0) }
}

.borderBoxSizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.smallFont {
    font-size: 80%;
}

.smallestFont {
    font-size: 55%;

    @media (max-height: 400px), (max-width: 400px) {
        font-size: 70%;
    }
}
 
$buttonPadding: 0.5em;

.study {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #606060;

    font-size: 22pt;
    font-weight: 600;

    @media (max-height: 700px), (max-width: 700px) {
        font-size: 18pt;
    }

    @media (max-height: 400px), (max-width: 400px) {
        font-size: 16pt;
    }

    > .content {
        background-color: $color9; 
        max-width: $studyMaxWidth;
        width: 100%;
        height: 100vh;
        
        display: flex;
        flex-direction: column;

        // technically not needed, but triggers a weird chrome bug if not present
        .upper, .lowerContainer {
            height: 50%;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 0;
        }

        @media (max-height: 400px), (max-width: 400px) {
            .lowerContainer {
                flex-grow: 0.5;
                height: 25%;
            }
        }

        .upper, .lower {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0.5em 10% 0.5em 10%;
            overflow: hidden;
        }

        // space for buttons
        $halfButtonHeight: (2 * $buttonPadding + 1em) / 2;

        .upper {
            margin-bottom: $halfButtonHeight;

            > div::last-child {
                // put the sentence a little bit higher than center
                flex-grow: 0.2;
            }

            .sentenceId {
                position: absolute;
                right: $unit;
                top: $unit;
                font-size: 8pt;

                a {
                    color: lighten($color4, 30%);
                    text-decoration: none; 
                }
            }

            $paragraphSpacing: 0.2em;

            .translation {
                @extend .smallestFont;

                animation: fadein 0.3s;
                @extend .borderBoxSizing;

                margin-top: 1em;

                hr {
                    border: none;
                    margin: 0;
                    padding: 0;

                    margin-bottom: $paragraphSpacing;
                }
            }

            .sentence {
                border-left: solid 0.25em $color13;
                padding-left: 0.5em;

                overflow: hidden;
                line-height: 135%;

                .nobr { 
                    white-space: nowrap
                }

                .content {
                    // space between lines
                    .line + .line {
                        margin-top: $paragraphSpacing;
                    }

                    .line {
                        display: inline-block;

                        .space {
                            /* if it's not inline-block we get no linebreaks within the studied phrase */
                            display: inline-block;
                        }

                        .word {
                            display: inline;
                            cursor: pointer;
                        }

                        .word.omitted.last:after {
                            content: '*';
                        }

                        .word.omitted {
                            color: #c0c0c0;
                        }

                        .word:hover {
                            color: $color4;
                        }               
                    }
                }

                .hidden {
                    .space.studied {
                        margin: 0 -0.1em;
                        background-color: white;
                    }

                    .word.studied {
                        color: darkgray;
                        background-color: white;
                        padding: 0 0.1em;

                        .form {
                            color: $color9;
                            margin-left: 0.4em;
                            font-size: 40%;
                            display: block;
                        }
                    }
                }

                @keyframes flash-shadow {
                    0%   { text-shadow: 0px 0px 0em black; }
                    66%  { text-shadow: 0px 0px 0.02em black; }
                    100%  { text-shadow: none; }
                }

                .revealed {
                    color: $color14;

                    .word.studied {
                        animation-name: flash-shadow;
                        animation-duration: 1s;
                        animation-delay: 0.2s;
                        animation-timing-function: linear;
                        color: black;
                        font-weight: bold; 
                    }
                }            
            }
            
            .sentence.leave {
                animation-name: swingout;
                animation-duration: $animationLength;

                transform: translate3d(-100vw, 0, 0);
            }

            .sentence.enter {
                animation-name: swingin;
                animation-duration: $animationLength;
            }
        }

        .upper.dimmed {
            color: #505050; 

            .content {
                .sentence .revealed {
                    color: inherit;
                }

                .word.studied {
                    color: inherit;
                }

                .word:hover {
                    color: inherit;
                }

                .word.highlight {
                    color: $highlight;
                }

                .word.highlight.low {
                    color: $lowlight;
                }
            }
        }

        .buttons {
            display: flex;
            flex-wrap: wrap; 

            height: 0;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 20;
            flex-wrap: nowrap;

            .button {
                @extend .smallFont;
                @extend .borderBoxSizing;

                display: block;
                margin: 0;
                padding: $buttonPadding 1em;
                border-radius: 1em;

                .line {
                    @media (max-width: 400px) {
                        display: block;
                    }
                }
            }

            .button.left, .button.right {
                width: 50%;
                flex-grow: 1;
            }

            .button.left {
                border-bottom-left-radius: 0; 
                border-top-left-radius: 0;
                margin-right: 5%;
                text-align: left;
                border-left: none;
            }

            .button.right {
                text-align: right;
                margin-left: 5%;
                border-bottom-right-radius: 0; 
                border-top-right-radius: 0; 
                border-right: none;
            }
        }

        .lowerContainer {
            @extend .borderBoxSizing;
            background-color: $colorLower;
            display: flex;
            flex-direction: column;

            .lower {
                flex-grow: 1;
                @extend .borderBoxSizing;
        
                margin-top: (2 * $buttonPadding + 1em) / 2;
                align-items: center;

                .instructions, .omittedExplanation {
                    @extend .smallestFont;

                    font-style: italic;
                    color: white;
                    margin-bottom: 0.7em;
                    margin-top: 0;
                    flex-grow: 1;

                    display: flex;
                    align-items: center;
                }

                .omittedExplanation {
                    flex-grow: 0;
                    font-style: normal;
                }

                .newFacts {
                    border-radius: 1em;
                    @extend .smallestFont;
                    background-color: $color9;

                    display: flex;
                    flex-direction: row;

                    .fact {
                        padding: 4 * $unit;
                        flex-grow: 1;
                    }

                    .button {
                        margin: 0;
                        border-radius: inherit;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                        padding: 0 4 * $unit;
                    }
                }

                .didYouKnowFact {
                    flex-grow: 1;
                    width: 100%;
                    max-width: 500px;
                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    @extend .smallFont;

                    > li {
                        $padding: 1em;
                        // push it up a bit above center
                        flex-grow: 0.3;

                        padding: $padding;

                        .content {
                            animation-name: swingin;
                            animation-duration: $animationLength;

                            line-height: 130%;
                            text-align: center;
                            background-color: $color9;
                            display: block;
                            padding: $padding;

                            color: #636363;
                            font-weight: 600;
     
                            strong {
                                font-weight: 700;
                            }

                            .explain {
                                display: flex;
                                flex-direction: row;
                                align-items: stretch;
                                margin: -$padding;
                                margin-top: $padding;
                                background-color: #f6ab0e;

                                .repetitionIndicator {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    $size: 8px;

                                    padding: 3*$unit 4*$unit;

                                    > div {
                                        width: $size;
                                        height: $size;
                                        margin-right: 2px;
                                        background-color: #fbeac5;
                                    }

                                    .full {
                                        background-color: #dc7018;
                                    }
                                }

                                .space {
                                    flex-grow: 1;
                                }

                                .button {
                                    margin: 0;
                                    padding: 0 4*$unit;
                                    background-color: inherit;

                                    .text {
                                        font-size: 0.7em;
                                    }

                                    display: block;

                                    border-radius: 0;
                                }
                            }
                        }

                        .content:hover {
                            .explain .button {
                                background-color: $color13;
                            }
                        }

                        strong {
                            color: $lowlight;
                        }

                        .verbatim {
                            color: $highlight;
                        }

                        .nobr {
                            display: block;
                            margin: $unit 0;
                        }
                    }
                }
            }

            .didYouKnowFact.leave {
                li .content {
                    animation-name: swingout;
                    animation-duration: $animationLength;
                }
            }

            @keyframes fadein {
                from { opacity: 0; }
                to   { opacity: 1; }
            }
        }

        $progressBarFull: $color4;
        $progressBarEmpty: lighten($color4, 25%);
        $progressBackgroundColor: lighten($color4, 10%);

        .progress {
            flex-grow: 0;

            @media (max-height: 550px) {
                display: none;
            }

            $barWidth: 8px;
            padding: $barWidth 2 * $barWidth;
            background-color: $colorLower;

            .barContainer {
                height: $barWidth;

                .start, .end {
                    border-radius: $barWidth / 2;
                    width: $barWidth / 2;
                }
            }

            @media (min-height: 900px) {
                background-color: $progressBackgroundColor;
                $barWidth: 12px;
                padding: $barWidth 2 * $barWidth;

                .barContainer {
                    height: $barWidth;

                    .start, .end {
                        border-radius: $barWidth / 2;
                        width: $barWidth / 2;
                    }
                }
            }

            .barContainer {
                display: flex;
                flex-direction: row;

                .start {
                    border-top-right-radius: initial;
                    border-bottom-right-radius: initial;
                    background-color: $progressBarFull;
                }

                .start.empty {
                    background-color: $progressBarEmpty;
                }

                .end {
                    background-color: $progressBarEmpty;                    
                }

                .end.full {
                    background-color: $progressBarFull;                    
                }

                .full {
                    min-height: 100%;
                    background-color: $progressBarFull;
                }

                .bar {
                    background-color: $progressBarEmpty;                    
                    flex-grow: 1;
                    overflow: hidden;
                }

                .end {
                    border-top-left-radius: initial;
                    border-bottom-left-radius: initial;
                }
            }
        }
    }

}

.studyOuter {
    .debugButtonBar {
        @media (max-width: 600px) {
            display: none;
        }

        position: fixed;
        bottom: 0;
        right: 0;

        .button {
            opacity: 0.3;
        }
    }

    .factSelectorInspector {
        margin: 2 * $unit;

        ul {
            li {
                margin-bottom: 2 * $unit;

                .fact {
                    display: inline;
                    margin-bottom: $unit;
                }

                .details {
                    @extend .smallFont;
                    margin-left: 9*$unit;
                }
            }
        }
    }
}

